In [1]:
import pandas as pd
import pandasql as psql
import pickle
import os

In [9]:
import pandas as pd
import pandasql as psql
import os

target_patients = pd.read_csv('/media/data/huyennm/mimic-iv/notebook/eligible_patients.csv')
patients_df = pd.read_csv('/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/hosp/patients.csv')
height_df = pd.read_csv('/media/data/huyennm/mimic-iv/mimic-derived/height.csv')
weight_df = pd.read_csv('/media/data/huyennm/mimic-iv/mimic-derived/weight.csv')
admissions_df = pd.read_csv('/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/hosp/admissions.csv')
omr = pd.read_csv('/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/hosp/omr.csv')
gcs_df = pd.read_csv('/media/data/huyennm/mimic-iv/mimic-derived/gcs.csv')
dur_mv = pd.read_csv('/media/data/huyennm/mimic-iv/mimic-derived/duration_mv.csv')

/tmp/ipykernel_1693931/3812884214.py:8: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  weight_df = pd.read_csv('/media/data/huyennm/mimic-iv/mimic-derived/weight.csv')

In [2]:
procedureevents_mv = pd.read_csv('/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/icu/procedureevents.csv')
procedureevents_mv.head()

,subject_id,hadm_id,stay_id,caregiver_id,starttime,endtime,storetime,itemid,value,valueuom,...,orderid,linkorderid,ordercategoryname,ordercategorydescription,patientweight,isopenbag,continueinnextdept,statusdescription,originalamount,originalrate
0,10000032,29079034,39553978,88981.0,2180-07-23 14:43:00,2180-07-23 14:44:00,2180-07-23 14:43:00,225966,1.0,NaN,...,6416557,6416557,Procedures,Task,39.4,0,0,FinishedRunning,1.0,0
1,10000032,29079034,39553978,NaN,2180-07-23 14:24:00,2180-07-23 23:50:00,2180-07-23 23:50:49.983,224275,566.0,min,...,6497934,6497934,Peripheral Lines,ContinuousProcess,39.4,1,0,FinishedRunning,566.0,1
2,10000032,29079034,39553978,NaN,2180-07-23 14:24:00,2180-07-23 23:50:00,2180-07-23 23:50:49.983,224277,566.0,min,...,9643097,9643097,Peripheral Lines,ContinuousProcess,39.4,1,0,FinishedRunning,566.0,1
3,10000980,26913865,39765666,NaN,2189-06-27 09:01:00,2189-06-27 20:38:00,2189-06-27 20:38:29.047,225794,697.0,min,...,5989583,5989583,Ventilation,ContinuousProcess,76.2,1,0,FinishedRunning,697.0,1
4,10000980,26913865,39765666,NaN,2189-06-27 09:15:00,2189-06-27 20:38:00,2189-06-27 20:38:29.047,224277,683.0,min,...,476764,476764,Peripheral Lines,ContinuousProcess,76.2,1,0,FinishedRunning,683.0,1

In [4]:
bmi_omr = omr[(omr['result_name'] == 'BMI (kg/m2)') & (omr['subject_id'].isin(target_patients['subject_id']))]
bmi_omr

         subject_id   chartdate  seq_num  result_name result_value
329        10000980  2185-06-17        1  BMI (kg/m2)         33.6
331        10000980  2185-09-17        1  BMI (kg/m2)         34.0
333        10000980  2185-12-17        1  BMI (kg/m2)         34.2
336        10000980  2186-03-17        1  BMI (kg/m2)         34.0
340        10000980  2186-09-15        1  BMI (kg/m2)         34.2
...             ...         ...      ...          ...          ...
6438580    19998330  2178-06-20        1  BMI (kg/m2)         23.9
6438585    19998330  2178-07-10        1  BMI (kg/m2)         24.6
6438588    19998330  2178-08-08        1  BMI (kg/m2)         24.7
6438597    19998330  2178-11-11        1  BMI (kg/m2)         25.0
6438601    19998330  2178-12-03        1  BMI (kg/m2)         26.4

[172044 rows x 5 columns]

In [29]:
bmi_omr.dtypes

subject_id       int64
chartdate       object
seq_num          int64
result_name     object
result_value    object
dtype: object

In [27]:
bmi_omr[bmi_omr['subject_id'] == 19998330]

         subject_id   chartdate  seq_num  result_name result_value
6438573    19998330  2178-02-21        1  BMI (kg/m2)         37.2
6438577    19998330  2178-05-21        1  BMI (kg/m2)         35.5
6438580    19998330  2178-06-20        1  BMI (kg/m2)         23.9
6438585    19998330  2178-07-10        1  BMI (kg/m2)         24.6
6438588    19998330  2178-08-08        1  BMI (kg/m2)         24.7
6438597    19998330  2178-11-11        1  BMI (kg/m2)         25.0
6438601    19998330  2178-12-03        1  BMI (kg/m2)         26.4

In [5]:
target_patients

,subject_id,hadm_id,stay_id,charttime,vent,age_at_admission
0,10001843,26133978,39698942,2134-12-05 19:00:00,1,76
1,10001843,26133978,39698942,2134-12-05 20:00:00,1,76
2,10001843,26133978,39698942,2134-12-05 21:00:00,1,76
3,10001843,26133978,39698942,2134-12-05 21:01:00,1,76
4,10001843,26133978,39698942,2134-12-05 23:00:00,1,76
...,...,...,...,...,...,...
201344,19998591,24349193,31144045,2185-07-17 16:00:00,1,53
201345,19998591,24349193,36794489,2185-07-04 07:50:00,1,53
201346,19998591,24349193,36794489,2185-07-04 12:00:00,1,53
201347,19998591,24349193,36794489,2185-07-04 16:00:00,1,53
201348,19998591,24349193,36794489,2185-07-04 19:55:00,1,53

In [4]:
gender_query = """
SELECT
    tp.*,
    p.gender
FROM target_patients tp
LEFT JOIN patients_df p ON tp.subject_id = p.subject_id;
"""

In [5]:
def add_gender(target_patients, patients_df):
    return psql.sqldf(gender_query, locals())

In [6]:
race_query = """
SELECT
    tp.*,
    a.race
FROM target_patients tp
LEFT JOIN admissions_df a ON tp.subject_id = a.subject_id AND tp.hadm_id = a.hadm_id;
"""

In [7]:
def add_race(target_patients, admissions_df):
    return psql.sqldf(race_query, locals())

In [8]:
height_query = """
WITH height_data AS (
    SELECT
        ht.subject_id,
        ht.hadm_id,
        ht.stay_id,
        ht.charttime,
        CASE 
            WHEN ht.itemid = 226707 THEN ht.valuenum * 0.0254  -- Convert inches to meters
            ELSE ht.valuenum / 100  -- Convert cm to meters
        END AS height_value  -- Rename the height column to avoid ambiguity
    FROM height_df ht
)
SELECT
    tp.*,  -- Select all columns from target_patients
    ROUND(AVG(
        CASE 
            -- Priority 1: stay_id match within time range
            WHEN ht.stay_id = tp.stay_id 
                 AND ht.charttime >= DATETIME(tp.intime, '-6 hours')
                 AND ht.charttime <= DATETIME(tp.intime, '+1 day')
            THEN height_value

            -- Priority 2: hadm_id match
            WHEN ht.hadm_id = tp.hadm_id
            THEN height_value

            -- Priority 3: subject_id match
            WHEN ht.subject_id = tp.subject_id 
            THEN height_value
            ELSE NULL
        END
    ), 2) AS height  -- The final height column to be used in the result
FROM target_patients tp
LEFT JOIN height_data ht
    ON (tp.stay_id = ht.stay_id
        AND ht.charttime >= DATETIME(tp.intime, '-6 hours')
        AND ht.charttime <= DATETIME(tp.intime, '+1 day'))
    OR tp.hadm_id = ht.hadm_id
    OR tp.subject_id = ht.subject_id
GROUP BY tp.subject_id, tp.stay_id;
"""

In [9]:
def add_height(target_patients, height_df):
    height_df['charttime'] = pd.to_datetime(height_df['charttime'])
    return psql.sqldf(height_query, locals())

In [10]:
weight_query = """
SELECT
    tp.*,
    AVG(
        CASE 
            WHEN wt.itemid = 226512 THEN wt.valuenum  -- Weight in kilograms
            WHEN wt.itemid = 226531 THEN wt.valuenum / 2.2046  -- Convert pounds to kilograms
            ELSE NULL 
        END
    ) AS weight_admit,
    AVG(
        CASE 
            WHEN wt.itemid = 224639 THEN wt.valuenum -- Weight on first ICU day
            ELSE NULL
        END
    ) AS weight_first_day
FROM target_patients tp
LEFT JOIN weight_df wt
ON tp.stay_id = wt.stay_id AND wt.charttime <= DATETIME(tp.intime, '+1 day')
GROUP BY tp.subject_id, tp.stay_id
"""

In [11]:
def add_weight(target_patients, weight_df):
    weight_df['charttime'] = pd.to_datetime(weight_df['charttime'])
    return psql.sqldf(weight_query, locals())

In [12]:
target_patients = add_gender(target_patients, patients_df)
target_patients

,subject_id,hadm_id,stay_id,intime,outtime,los,age_at_admission,gender
0,17656146,20003587,34504641,2146-04-17 08:32:01.000000,2146-04-18 05:05:23,0.856505,59,F
1,19657904,20004357,30729609,2157-08-05 12:22:00.000000,2157-08-08 20:03:44,3.320648,77,F
2,17368229,20006154,30306704,2139-03-17 23:00:00.000000,2139-03-21 16:31:49,3.730428,71,F
3,17844820,20014219,38957578,2142-10-06 13:38:14.000000,2142-10-25 16:50:43,19.133669,70,M
4,13399796,20020590,39167908,2121-11-17 20:18:32.000000,2121-11-20 03:20:40,2.293148,76,F
...,...,...,...,...,...,...,...,...
4775,10004401,29988601,32773003,2144-01-26 22:28:04.000000,2144-02-06 13:44:15,10.636238,85,M
4776,17315464,29991213,30757265,2120-09-07 18:48:44.000000,2120-09-09 18:29:51,1.986887,85,M
4777,11165060,29991539,36423523,2137-11-21 00:14:31.000000,2137-12-13 18:15:08,22.750428,69,M
4778,11282384,29994261,30592303,2124-09-16 08:13:00.000000,2124-09-21 18:35:27,5.432257,69,F
4779,10355856,29999625,36975675,2157-11-07 11:51:00.000000,2157-11-29 15:00:36,22.131667,69,M

In [13]:
target_patients = add_race(target_patients, admissions_df)
target_patients

,subject_id,hadm_id,stay_id,intime,outtime,los,age_at_admission,gender,race
0,17656146,20003587,34504641,2146-04-17 08:32:01.000000,2146-04-18 05:05:23,0.856505,59,F,BLACK/AFRICAN AMERICAN
1,19657904,20004357,30729609,2157-08-05 12:22:00.000000,2157-08-08 20:03:44,3.320648,77,F,BLACK/AFRICAN AMERICAN
2,17368229,20006154,30306704,2139-03-17 23:00:00.000000,2139-03-21 16:31:49,3.730428,71,F,UNKNOWN
3,17844820,20014219,38957578,2142-10-06 13:38:14.000000,2142-10-25 16:50:43,19.133669,70,M,WHITE
4,13399796,20020590,39167908,2121-11-17 20:18:32.000000,2121-11-20 03:20:40,2.293148,76,F,WHITE
...,...,...,...,...,...,...,...,...,...
4775,10004401,29988601,32773003,2144-01-26 22:28:04.000000,2144-02-06 13:44:15,10.636238,85,M,WHITE
4776,17315464,29991213,30757265,2120-09-07 18:48:44.000000,2120-09-09 18:29:51,1.986887,85,M,WHITE
4777,11165060,29991539,36423523,2137-11-21 00:14:31.000000,2137-12-13 18:15:08,22.750428,69,M,WHITE
4778,11282384,29994261,30592303,2124-09-16 08:13:00.000000,2124-09-21 18:35:27,5.432257,69,F,BLACK/AFRICAN AMERICAN
4779,10355856,29999625,36975675,2157-11-07 11:51:00.000000,2157-11-29 15:00:36,22.131667,69,M,UNKNOWN

In [14]:
target_patients = add_height(target_patients, height_df)
target_patients

,subject_id,hadm_id,stay_id,intime,outtime,los,age_at_admission,gender,race,height
0,10002428,23473524,35479615,2156-05-11 14:49:34.000000,2156-05-22 14:16:46,10.977222,81,F,WHITE,1.50
1,10003400,20214994,32128372,2137-02-25 23:37:19.000000,2137-03-10 21:29:36,12.911308,75,F,BLACK/AFRICAN AMERICAN,1.66
2,10003400,23559586,34577403,2137-08-10 19:54:51.000000,2137-08-13 17:54:54,2.916701,75,F,BLACK/AFRICAN AMERICAN,1.66
3,10004235,24181354,34100191,2196-02-24 17:07:00.000000,2196-02-29 15:58:02,4.952106,47,M,BLACK/CAPE VERDEAN,1.83
4,10004401,23920883,32743332,2144-04-21 20:49:00.000000,2144-05-01 13:53:03,9.711146,85,M,WHITE,1.70
...,...,...,...,...,...,...,...,...,...,...
4775,19997293,26366652,36403582,2123-11-17 05:47:01.000000,2123-11-19 17:08:30,2.473252,76,M,WHITE,1.82
4776,19998330,23151993,31085771,2178-09-20 21:40:00.000000,2178-09-21 18:06:26,0.851690,72,F,BLACK/AFRICAN AMERICAN,NaN
4777,19998330,21135114,31417783,2178-10-21 17:20:00.000000,2178-10-23 17:43:28,2.016296,72,F,BLACK/AFRICAN AMERICAN,NaN
4778,19998330,24492004,32641669,2178-10-01 08:51:00.000000,2178-10-03 23:25:08,2.607037,72,F,BLACK/AFRICAN AMERICAN,NaN
4779,19998330,24096838,33428243,2178-11-27 22:53:00.000000,2178-11-29 21:29:39,1.942118,72,F,BLACK/AFRICAN AMERICAN,NaN

In [15]:
target_patients = add_weight(target_patients, weight_df)
target_patients

,subject_id,hadm_id,stay_id,intime,outtime,los,age_at_admission,gender,race,height,weight_admit,weight_first_day
0,10002428,23473524,35479615,2156-05-11 14:49:34.000000,2156-05-22 14:16:46,10.977222,81,F,WHITE,1.50,48.400000,49.25
1,10003400,20214994,32128372,2137-02-25 23:37:19.000000,2137-03-10 21:29:36,12.911308,75,F,BLACK/AFRICAN AMERICAN,1.66,92.902976,94.70
2,10003400,23559586,34577403,2137-08-10 19:54:51.000000,2137-08-13 17:54:54,2.916701,75,F,BLACK/AFRICAN AMERICAN,1.66,NaN,90.50
3,10004235,24181354,34100191,2196-02-24 17:07:00.000000,2196-02-29 15:58:02,4.952106,47,M,BLACK/CAPE VERDEAN,1.83,126.823339,130.00
4,10004401,23920883,32743332,2144-04-21 20:49:00.000000,2144-05-01 13:53:03,9.711146,85,M,WHITE,1.70,90.596303,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4775,19997293,26366652,36403582,2123-11-17 05:47:01.000000,2123-11-19 17:08:30,2.473252,76,M,WHITE,1.82,172.756341,NaN
4776,19998330,23151993,31085771,2178-09-20 21:40:00.000000,2178-09-21 18:06:26,0.851690,72,F,BLACK/AFRICAN AMERICAN,NaN,76.205960,NaN
4777,19998330,21135114,31417783,2178-10-21 17:20:00.000000,2178-10-23 17:43:28,2.016296,72,F,BLACK/AFRICAN AMERICAN,NaN,77.514506,77.65
4778,19998330,24492004,32641669,2178-10-01 08:51:00.000000,2178-10-03 23:25:08,2.607037,72,F,BLACK/AFRICAN AMERICAN,NaN,77.100000,74.55
4779,19998330,24096838,33428243,2178-11-27 22:53:00.000000,2178-11-29 21:29:39,1.942118,72,F,BLACK/AFRICAN AMERICAN,NaN,83.000000,NaN

In [17]:
target = target_patients
target

,subject_id,hadm_id,stay_id,intime,outtime,los,age_at_admission,gender,race,height,weight_admit,weight_first_day
0,10002428,23473524,35479615,2156-05-11 14:49:34.000000,2156-05-22 14:16:46,10.977222,81,F,WHITE,1.50,48.400000,49.25
1,10003400,20214994,32128372,2137-02-25 23:37:19.000000,2137-03-10 21:29:36,12.911308,75,F,BLACK/AFRICAN AMERICAN,1.66,92.902976,94.70
2,10003400,23559586,34577403,2137-08-10 19:54:51.000000,2137-08-13 17:54:54,2.916701,75,F,BLACK/AFRICAN AMERICAN,1.66,NaN,90.50
3,10004235,24181354,34100191,2196-02-24 17:07:00.000000,2196-02-29 15:58:02,4.952106,47,M,BLACK/CAPE VERDEAN,1.83,126.823339,130.00
4,10004401,23920883,32743332,2144-04-21 20:49:00.000000,2144-05-01 13:53:03,9.711146,85,M,WHITE,1.70,90.596303,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4775,19997293,26366652,36403582,2123-11-17 05:47:01.000000,2123-11-19 17:08:30,2.473252,76,M,WHITE,1.82,172.756341,NaN
4776,19998330,23151993,31085771,2178-09-20 21:40:00.000000,2178-09-21 18:06:26,0.851690,72,F,BLACK/AFRICAN AMERICAN,NaN,76.205960,NaN
4777,19998330,21135114,31417783,2178-10-21 17:20:00.000000,2178-10-23 17:43:28,2.016296,72,F,BLACK/AFRICAN AMERICAN,NaN,77.514506,77.65
4778,19998330,24492004,32641669,2178-10-01 08:51:00.000000,2178-10-03 23:25:08,2.607037,72,F,BLACK/AFRICAN AMERICAN,NaN,77.100000,74.55
4779,19998330,24096838,33428243,2178-11-27 22:53:00.000000,2178-11-29 21:29:39,1.942118,72,F,BLACK/AFRICAN AMERICAN,NaN,83.000000,NaN

In [83]:
path_save = './pickle'
os.makedirs(path_save, exist_ok=True)

In [19]:
outfile = open(os.path.join(path_save, 'prepare_bmi.pickle'), 'wb')
pickle.dump(target_patients, outfile)
outfile.close()

In [14]:
path_save = './pickle'
infile = open(os.path.join(path_save,'prepare_bmi.pickle'), 'rb')
new_target = pickle.load(infile)
infile.close()

In [15]:
new_target

,subject_id,hadm_id,stay_id,intime,outtime,los,age_at_admission,gender,race,height,weight_admit,weight_first_day
0,10002428,23473524,35479615,2156-05-11 14:49:34.000000,2156-05-22 14:16:46,10.977222,81,F,WHITE,1.50,48.400000,49.25
1,10003400,20214994,32128372,2137-02-25 23:37:19.000000,2137-03-10 21:29:36,12.911308,75,F,BLACK/AFRICAN AMERICAN,1.66,92.902976,94.70
2,10003400,23559586,34577403,2137-08-10 19:54:51.000000,2137-08-13 17:54:54,2.916701,75,F,BLACK/AFRICAN AMERICAN,1.66,NaN,90.50
3,10004235,24181354,34100191,2196-02-24 17:07:00.000000,2196-02-29 15:58:02,4.952106,47,M,BLACK/CAPE VERDEAN,1.83,126.823339,130.00
4,10004401,23920883,32743332,2144-04-21 20:49:00.000000,2144-05-01 13:53:03,9.711146,85,M,WHITE,1.70,90.596303,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4775,19997293,26366652,36403582,2123-11-17 05:47:01.000000,2123-11-19 17:08:30,2.473252,76,M,WHITE,1.82,172.756341,NaN
4776,19998330,23151993,31085771,2178-09-20 21:40:00.000000,2178-09-21 18:06:26,0.851690,72,F,BLACK/AFRICAN AMERICAN,NaN,76.205960,NaN
4777,19998330,21135114,31417783,2178-10-21 17:20:00.000000,2178-10-23 17:43:28,2.016296,72,F,BLACK/AFRICAN AMERICAN,NaN,77.514506,77.65
4778,19998330,24492004,32641669,2178-10-01 08:51:00.000000,2178-10-03 23:25:08,2.607037,72,F,BLACK/AFRICAN AMERICAN,NaN,77.100000,74.55
4779,19998330,24096838,33428243,2178-11-27 22:53:00.000000,2178-11-29 21:29:39,1.942118,72,F,BLACK/AFRICAN AMERICAN,NaN,83.000000,NaN

In [14]:
def add_bmi(target_patients):
    target_patients['bmi'] = target_patients.apply(
        lambda row: round(row['weight_admit'] / (row['height'] ** 2), 2) 
        if pd.notnull(row['weight_admit']) and pd.notnull(row['height']) else
        (round(row['weight_first_day'] / (row['height'] ** 2), 2) 
        if pd.notnull(row['weight_first_day']) and pd.notnull(row['height']) else None),
        axis=1
    )
        
    return target_patients

In [75]:
target = add_bmi(new_target)
target[target['bmi'].isna()]

,subject_id,hadm_id,stay_id,intime,outtime,los,age_at_admission,gender,race,height,weight_admit,weight_first_day,bmi
11,10015931,22130791,37093652,2177-03-24 21:48:07.000000,2177-03-29 18:03:36,4.844086,88,M,WHITE,NaN,59.437925,NaN,NaN
30,10048899,20315647,30644814,2165-10-20 19:30:00.000000,2165-10-22 16:23:10,1.870255,91,F,WHITE,NaN,64.836828,NaN,NaN
34,10062020,25255239,35323579,2113-05-31 21:18:47.000000,2113-06-01 15:49:43,0.771481,66,F,WHITE,NaN,99.954710,NaN,NaN
37,10078805,20434240,30950523,2178-07-21 07:47:00.000000,2178-07-22 17:18:24,1.396806,88,M,WHITE,NaN,100.100000,105.00,NaN
43,10094805,21370539,34488364,2182-04-23 19:15:11.000000,2182-04-29 16:59:03,5.905463,74,M,WHITE,NaN,65.835784,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4762,19978239,21674747,38949980,2120-12-02 18:56:20.000000,2120-12-06 21:11:51,4.094109,82,F,WHITE,NaN,101.000000,101.00,NaN
4776,19998330,23151993,31085771,2178-09-20 21:40:00.000000,2178-09-21 18:06:26,0.851690,72,F,BLACK/AFRICAN AMERICAN,NaN,76.205960,NaN,NaN
4777,19998330,21135114,31417783,2178-10-21 17:20:00.000000,2178-10-23 17:43:28,2.016296,72,F,BLACK/AFRICAN AMERICAN,NaN,77.514506,77.65,NaN
4778,19998330,24492004,32641669,2178-10-01 08:51:00.000000,2178-10-03 23:25:08,2.607037,72,F,BLACK/AFRICAN AMERICAN,NaN,77.100000,74.55,NaN
4779,19998330,24096838,33428243,2178-11-27 22:53:00.000000,2178-11-29 21:29:39,1.942118,72,F,BLACK/AFRICAN AMERICAN,NaN,83.000000,NaN,NaN

In [32]:
target.dtypes

subject_id            int64
hadm_id               int64
stay_id               int64
intime               object
outtime              object
los                 float64
age_at_admission      int64
gender               object
race                 object
height              float64
weight_admit        float64
weight_first_day    float64
bmi                 float64
dtype: object

In [70]:
# Loop over target where 'bmi' is NaN
for index, row in target[target['bmi'].isna()].iterrows():
    records = bmi_omr[bmi_omr['subject_id'] == row['subject_id']]
    print(f"Found {len(records)} matching records in bmi_omr for subject_id {row['subject_id']}")
        
    if not records.empty:
        records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
        closest_bmi_record = records.loc[records['time_diff'].idxmin()]
        target.at[index, 'bmi'] = closest_bmi_record['result_value']

Found 11 matching records in bmi_omr for subject_id 10015931
Found 0 matching records in bmi_omr for subject_id 10048899
Found 0 matching records in bmi_omr for subject_id 10062020
Found 1 matching records in bmi_omr for subject_id 10078805
Found 0 matching records in bmi_omr for subject_id 10094805
Found 58 matching records in bmi_omr for subject_id 10102822
Found 9 matching records in bmi_omr for subject_id 10104549
Found 0 matching records in bmi_omr for subject_id 10132888
Found 34 matching records in bmi_omr for subject_id 10150056
Found 0 matching records in bmi_omr for subject_id 10155871
Found 0 matching records in bmi_omr for subject_id 10163041
Found 0 matching records in bmi_omr for subject_id 10182211
Found 25 matching records in bmi_omr for subject_id 10221321
Found 0 matching records in bmi_omr for subject_id 10261084
Found 49 matching records in bmi_omr for subject_id 10265482
Found 0 matching records in bmi_omr for subject_id 10282931
Found 1 matching records in bmi_omr for subject_id 10288279
Found 0 matching records in bmi_omr for subject_id 10326798
Found 1 matching records in bmi_omr for subject_id 10331939
Found 2 matching records in bmi_omr for subject_id 10336220
Found 31 matching records in bmi_omr for subject_id 10347400
Found 0 matching records in bmi_omr for subject_id 10350488
Found 28 matching records in bmi_omr for subject_id 10352831
Found 0 matching records in bmi_omr for subject_id 10356145
Found 0 matching records in bmi_omr for subject_id 10361825
Found 0 matching records in bmi_omr for subject_id 10378032
Found 0 matching records in bmi_omr for subject_id 10388817
Found 0 matching records in bmi_omr for subject_id 10391782
Found 0 matching records in bmi_omr for subject_id 10408681
Found 0 matching records in bmi_omr for subject_id 10412264
Found 0 matching records in bmi_omr for subject_id 10422844
Found 0 matching records in bmi_omr for subject_id 10428839
Found 0 matching records in bmi_omr for subject_id 10438032
Found 0 matching records in bmi_omr for subject_id 10440899
Found 0 matching records in bmi_omr for subject_id 10454567
Found 0 matching records in bmi_omr for subject_id 10495665
Found 28 matching records in bmi_omr for subject_id 10506912
Found 0 matching records in bmi_omr for subject_id 10509305
Found 0 matching records in bmi_omr for subject_id 10558983
Found 80 matching records in bmi_omr for subject_id 10561929
Found 5 matching records in bmi_omr for subject_id 10564547
Found 0 matching records in bmi_omr for subject_id 10581736
Found 0 matching records in bmi_omr for subject_id 10596591
Found 0 matching records in bmi_omr for subject_id 10614428
Found 0 matching records in bmi_omr for subject_id 10644914
Found 42 matching records in bmi_omr for subject_id 10652583
Found 0 matching records in bmi_omr for subject_id 10659551
Found 0 matching records in bmi_omr for subject_id 10660677
Found 1 matching records in bmi_omr for subject_id 10660679
Found 8 matching records in bmi_omr for subject_id 10678746
Found 105 matching records in bmi_omr for subject_id 10681517
Found 0 matching records in bmi_omr for subject_id 10689288
Found 10 matching records in bmi_omr for subject_id 10694040
Found 0 matching records in bmi_omr for subject_id 10706411
Found 7 matching records in bmi_omr for subject_id 10717791
Found 0 matching records in bmi_omr for subject_id 10743958
Found 0 matching records in bmi_omr for subject_id 10744419
Found 14 matching records in bmi_omr for subject_id 10747985
Found 0 matching records in bmi_omr for subject_id 10753059
Found 1 matching records in bmi_omr for subject_id 10756520
Found 7 matching records in bmi_omr for subject_id 10756850
Found 7 matching records in bmi_omr for subject_id 10762976
Found 39 matching records in bmi_omr for subject_id 10795507
Found 6 matching records in bmi_omr for subject_id 10800948
Found 0 matching records in bmi_omr for subject_id 10812451
Found 15 matching records in bmi_omr for subject_id 10839034
Found 15 matching records in bmi_omr for subject_id 10839034
Found 0 matching records in bmi_omr for subject_id 10840816
Found 3 matching records in bmi_omr for subject_id 10842701
Found 1 matching records in bmi_omr for subject_id 10843264
Found 0 matching records in bmi_omr for subject_id 10844901
Found 0 matching records in bmi_omr for subject_id 10846482
Found 1 matching records in bmi_omr for subject_id 10898129
Found 37 matching records in bmi_omr for subject_id 10903847
Found 21 matching records in bmi_omr for subject_id 10938096
Found 250 matching records in bmi_omr for subject_id 10942537
Found 0 matching records in bmi_omr for subject_id 10943603
Found 0 matching records in bmi_omr for subject_id 10955958
Found 3 matching records in bmi_omr for subject_id 10956923
Found 0 matching records in bmi_omr for subject_id 10958025
Found 42 matching records in bmi_omr for subject_id 11009622
Found 0 matching records in bmi_omr for subject_id 11020202
Found 0 matching records in bmi_omr for subject_id 11020740
Found 25 matching records in bmi_omr for subject_id 11028696
Found 0 matching records in bmi_omr for subject_id 11030142
Found 0 matching records in bmi_omr for subject_id 11036075
Found 0 matching records in bmi_omr for subject_id 11040759
Found 1 matching records in bmi_omr for subject_id 11059196
Found 8 matching records in bmi_omr for subject_id 11062833
Found 0 matching records in bmi_omr for subject_id 11071368
Found 0 matching records in bmi_omr for subject_id 11071368
Found 0 matching records in bmi_omr for subject_id 11083578
Found 37 matching records in bmi_omr for subject_id 11084285
Found 16 matching records in bmi_omr for subject_id 11084297
Found 0 matching records in bmi_omr for subject_id 11101541
Found 25 matching records in bmi_omr for subject_id 11144164
Found 0 matching records in bmi_omr for subject_id 11153447
Found 2 matching records in bmi_omr for subject_id 11155525
Found 12 matching records in bmi_omr for subject_id 11164537
Found 5 matching records in bmi_omr for subject_id 11167834
Found 37 matching records in bmi_omr for subject_id 11172056
Found 37 matching records in bmi_omr for subject_id 11172056
Found 1 matching records in bmi_omr for subject_id 11181978
Found 0 matching records in bmi_omr for subject_id 11218208
Found 1 matching records in bmi_omr for subject_id 11228986
Found 0 matching records in bmi_omr for subject_id 11264151
Found 7 matching records in bmi_omr for subject_id 11267045
Found 1 matching records in bmi_omr for subject_id 11295360
Found 7 matching records in bmi_omr for subject_id 11297219
Found 0 matching records in bmi_omr for subject_id 11349432
Found 1 matching records in bmi_omr for subject_id 11390506
Found 1 matching records in bmi_omr for subject_id 11421414
Found 0 matching records in bmi_omr for subject_id 11429550
Found 0 matching records in bmi_omr for subject_id 11440437
Found 2 matching records in bmi_omr for subject_id 11452644
Found 1 matching records in bmi_omr for subject_id 11466749
Found 18 matching records in bmi_omr for subject_id 11490051
Found 4 matching records in bmi_omr for subject_id 11496131
Found 0 matching records in bmi_omr for subject_id 11500847
Found 0 matching records in bmi_omr for subject_id 11525470
Found 0 matching records in bmi_omr for subject_id 11533462
Found 0 matching records in bmi_omr for subject_id 11541378
Found 0 matching records in bmi_omr for subject_id 11547745
Found 0 matching records in bmi_omr for subject_id 11568882
Found 0 matching records in bmi_omr for subject_id 11594544
Found 0 matching records in bmi_omr for subject_id 11596570
Found 0 matching records in bmi_omr for subject_id 11607628
Found 34 matching records in bmi_omr for subject_id 11614040
Found 0 matching records in bmi_omr for subject_id 11622859
Found 0 matching records in bmi_omr for subject_id 11626035
Found 0 matching records in bmi_omr for subject_id 11666182
Found 5 matching records in bmi_omr for subject_id 11669818
Found 1 matching records in bmi_omr for subject_id 11693603
Found 1 matching records in bmi_omr for subject_id 11699868
Found 12 matching records in bmi_omr for subject_id 11703451
Found 1 matching records in bmi_omr for subject_id 11731531
Found 0 matching records in bmi_omr for subject_id 11738511
Found 0 matching records in bmi_omr for subject_id 11784974
Found 0 matching records in bmi_omr for subject_id 11791996
Found 0 matching records in bmi_omr for subject_id 11792958
Found 0 matching records in bmi_omr for subject_id 11801858
Found 4 matching records in bmi_omr for subject_id 11815711
Found 0 matching records in bmi_omr for subject_id 11818861
Found 41 matching records in bmi_omr for subject_id 11826223
Found 61 matching records in bmi_omr for subject_id 11834165
Found 2 matching records in bmi_omr for subject_id 11839107
Found 0 matching records in bmi_omr for subject_id 11845541
Found 0 matching records in bmi_omr for subject_id 11847456
Found 0 matching records in bmi_omr for subject_id 11848123
Found 0 matching records in bmi_omr for subject_id 11863972
Found 0 matching records in bmi_omr for subject_id 11890276
Found 1 matching records in bmi_omr for subject_id 11899008
Found 0 matching records in bmi_omr for subject_id 11900074
Found 0 matching records in bmi_omr for subject_id 11960419
Found 0 matching records in bmi_omr for subject_id 11974898
Found 0 matching records in bmi_omr for subject_id 11988196
Found 9 matching records in bmi_omr for subject_id 11994104
Found 24 matching records in bmi_omr for subject_id 12018901
Found 0 matching records in bmi_omr for subject_id 12020348
Found 39 matching records in bmi_omr for subject_id 12026058
Found 0 matching records in bmi_omr for subject_id 12051291
Found 14 matching records in bmi_omr for subject_id 12088187
Found 5 matching records in bmi_omr for subject_id 12110322
Found 0 matching records in bmi_omr for subject_id 12113414
Found 0 matching records in bmi_omr for subject_id 12130785
Found 95 matching records in bmi_omr for subject_id 12136799
Found 7 matching records in bmi_omr for subject_id 12141075
Found 4 matching records in bmi_omr for subject_id 12152816
Found 0 matching records in bmi_omr for subject_id 12179057
Found 0 matching records in bmi_omr for subject_id 12192561
Found 0 matching records in bmi_omr for subject_id 12232497
Found 2 matching records in bmi_omr for subject_id 12255381
Found 0 matching records in bmi_omr for subject_id 12291041
Found 0 matching records in bmi_omr for subject_id 12299660
Found 54 matching records in bmi_omr for subject_id 12305811
Found 0 matching records in bmi_omr for subject_id 12341427
Found 95 matching records in bmi_omr for subject_id 12351481
Found 1 matching records in bmi_omr for subject_id 12354911
Found 0 matching records in bmi_omr for subject_id 12375281
Found 0 matching records in bmi_omr for subject_id 12400032
Found 0 matching records in bmi_omr for subject_id 12413639
Found 0 matching records in bmi_omr for subject_id 12413668
Found 0 matching records in bmi_omr for subject_id 12478288
Found 0 matching records in bmi_omr for subject_id 12478986
Found 0 matching records in bmi_omr for subject_id 12515935
Found 1 matching records in bmi_omr for subject_id 12539996
Found 0 matching records in bmi_omr for subject_id 12540572
Found 83 matching records in bmi_omr for subject_id 12606113
Found 0 matching records in bmi_omr for subject_id 12618938
Found 17 matching records in bmi_omr for subject_id 12621660
Found 25 matching records in bmi_omr for subject_id 12632853
Found 2 matching records in bmi_omr for subject_id 12669413
Found 0 matching records in bmi_omr for subject_id 12688594
Found 0 matching records in bmi_omr for subject_id 12705048
Found 0 matching records in bmi_omr for subject_id 12717101
Found 0 matching records in bmi_omr for subject_id 12719657
Found 2 matching records in bmi_omr for subject_id 12744661
Found 3 matching records in bmi_omr for subject_id 12746489
Found 6 matching records in bmi_omr for subject_id 12746865
Found 7 matching records in bmi_omr for subject_id 12771269
Found 7 matching records in bmi_omr for subject_id 12771269
Found 42 matching records in bmi_omr for subject_id 12772049
Found 0 matching records in bmi_omr for subject_id 12810677
Found 7 matching records in bmi_omr for subject_id 12819156
Found 0 matching records in bmi_omr for subject_id 12823860
Found 3 matching records in bmi_omr for subject_id 12835204
Found 6 matching records in bmi_omr for subject_id 12843938
Found 0 matching records in bmi_omr for subject_id 12845930
Found 0 matching records in bmi_omr for subject_id 12874696
Found 0 matching records in bmi_omr for subject_id 12886813
Found 0 matching records in bmi_omr for subject_id 12889151
Found 55 matching records in bmi_omr for subject_id 12926897
Found 0 matching records in bmi_omr for subject_id 12940327
Found 1 matching records in bmi_omr for subject_id 12948123
Found 0 matching records in bmi_omr for subject_id 12985528
Found 0 matching records in bmi_omr for subject_id 12989843
Found 37 matching records in bmi_omr for subject_id 12993146
Found 0 matching records in bmi_omr for subject_id 13007347
Found 1 matching records in bmi_omr for subject_id 13017137
Found 0 matching records in bmi_omr for subject_id 13021449
Found 5 matching records in bmi_omr for subject_id 13054145
Found 29 matching records in bmi_omr for subject_id 13055950
Found 33 matching records in bmi_omr for subject_id 13067703
Found 8 matching records in bmi_omr for subject_id 13073377
Found 0 matching records in bmi_omr for subject_id 13082436
Found 0 matching records in bmi_omr for subject_id 13085916
Found 1 matching records in bmi_omr for subject_id 13102520
Found 0 matching records in bmi_omr for subject_id 13117363
Found 39 matching records in bmi_omr for subject_id 13120648
Found 0 matching records in bmi_omr for subject_id 13128501
Found 8 matching records in bmi_omr for subject_id 13146404
Found 0 matching records in bmi_omr for subject_id 13155358
Found 12 matching records in bmi_omr for subject_id 13157308
Found 18 matching records in bmi_omr for subject_id 13173167
Found 57 matching records in bmi_omr for subject_id 13178765
Found 57 matching records in bmi_omr for subject_id 13178765
Found 0 matching records in bmi_omr for subject_id 13179532
Found 10 matching records in bmi_omr for subject_id 13194166
Found 1 matching records in bmi_omr for subject_id 13211467
Found 38 matching records in bmi_omr for subject_id 13214820
Found 2 matching records in bmi_omr for subject_id 13229117

/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '20.0' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  target.at[index, 'bmi'] = closest_bmi_record['result_value']
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:

Found 8 matching records in bmi_omr for subject_id 13262421
Found 0 matching records in bmi_omr for subject_id 13266707
Found 0 matching records in bmi_omr for subject_id 13273685
Found 0 matching records in bmi_omr for subject_id 13273685
Found 0 matching records in bmi_omr for subject_id 13281743
Found 0 matching records in bmi_omr for subject_id 13299872
Found 0 matching records in bmi_omr for subject_id 13331522
Found 1 matching records in bmi_omr for subject_id 13364910
Found 65 matching records in bmi_omr for subject_id 13398212
Found 6 matching records in bmi_omr for subject_id 13401524
Found 0 matching records in bmi_omr for subject_id 13421733
Found 0 matching records in bmi_omr for subject_id 13434840
Found 0 matching records in bmi_omr for subject_id 13440565
Found 0 matching records in bmi_omr for subject_id 13444096
Found 0 matching records in bmi_omr for subject_id 13473186
Found 0 matching records in bmi_omr for subject_id 13476942
Found 2 matching records in bmi_omr for subject_id 13489125
Found 1 matching records in bmi_omr for subject_id 13496178
Found 0 matching records in bmi_omr for subject_id 13499005
Found 0 matching records in bmi_omr for subject_id 13517843
Found 0 matching records in bmi_omr for subject_id 13525920
Found 79 matching records in bmi_omr for subject_id 13552058
Found 0 matching records in bmi_omr for subject_id 13552589
Found 62 matching records in bmi_omr for subject_id 13565877
Found 11 matching records in bmi_omr for subject_id 13581129
Found 0 matching records in bmi_omr for subject_id 13586805
Found 0 matching records in bmi_omr for subject_id 13602379
Found 1 matching records in bmi_omr for subject_id 13603311
Found 0 matching records in bmi_omr for subject_id 13606680
Found 0 matching records in bmi_omr for subject_id 13647229
Found 20 matching records in bmi_omr for subject_id 13647235
Found 0 matching records in bmi_omr for subject_id 13652307
Found 0 matching records in bmi_omr for subject_id 13668433
Found 0 matching records in bmi_omr for subject_id 13687496
Found 0 matching records in bmi_omr for subject_id 13700088
Found 0 matching records in bmi_omr for subject_id 13700088
Found 0 matching records in bmi_omr for subject_id 13700088
Found 0 matching records in bmi_omr for subject_id 13720987
Found 69 matching records in bmi_omr for subject_id 13723709
Found 0 matching records in bmi_omr for subject_id 13731023
Found 0 matching records in bmi_omr for subject_id 13763521
Found 0 matching records in bmi_omr for subject_id 13768188
Found 0 matching records in bmi_omr for subject_id 13790647
Found 0 matching records in bmi_omr for subject_id 13807411
Found 2 matching records in bmi_omr for subject_id 13811201
Found 2 matching records in bmi_omr for subject_id 13819234
Found 0 matching records in bmi_omr for subject_id 13825137
Found 23 matching records in bmi_omr for subject_id 13868052
Found 21 matching records in bmi_omr for subject_id 13886221
Found 0 matching records in bmi_omr for subject_id 13899061
Found 0 matching records in bmi_omr for subject_id 13899061
Found 0 matching records in bmi_omr for subject_id 13909327
Found 0 matching records in bmi_omr for subject_id 13918205
Found 0 matching records in bmi_omr for subject_id 13930027
Found 0 matching records in bmi_omr for subject_id 13934278
Found 0 matching records in bmi_omr for subject_id 13940684
Found 0 matching records in bmi_omr for subject_id 13951775
Found 0 matching records in bmi_omr for subject_id 13959611
Found 0 matching records in bmi_omr for subject_id 13973768
Found 0 matching records in bmi_omr for subject_id 13998126
Found 1 matching records in bmi_omr for subject_id 14033551
Found 0 matching records in bmi_omr for subject_id 14095904
Found 0 matching records in bmi_omr for subject_id 14115236
Found 6 matching records in bmi_omr for subject_id 14124404
Found 0 matching records in bmi_omr for subject_id 14141892
Found 0 matching records in bmi_omr for subject_id 14155967
Found 0 matching records in bmi_omr for subject_id 14159896
Found 0 matching records in bmi_omr for subject_id 14170425
Found 82 matching records in bmi_omr for subject_id 14179538
Found 0 matching records in bmi_omr for subject_id 14181640
Found 23 matching records in bmi_omr for subject_id 14187451
Found 23 matching records in bmi_omr for subject_id 14187451
Found 0 matching records in bmi_omr for subject_id 14195074
Found 0 matching records in bmi_omr for subject_id 14203331
Found 48 matching records in bmi_omr for subject_id 14208778
Found 5 matching records in bmi_omr for subject_id 14219343
Found 1 matching records in bmi_omr for subject_id 14231067
Found 1 matching records in bmi_omr for subject_id 14257692
Found 0 matching records in bmi_omr for subject_id 14271359
Found 0 matching records in bmi_omr for subject_id 14276248
Found 61 matching records in bmi_omr for subject_id 14286519
Found 0 matching records in bmi_omr for subject_id 14288514
Found 0 matching records in bmi_omr for subject_id 14291723
Found 1 matching records in bmi_omr for subject_id 14311471
Found 0 matching records in bmi_omr for subject_id 14340815
Found 2 matching records in bmi_omr for subject_id 14351751
Found 0 matching records in bmi_omr for subject_id 14366256
Found 0 matching records in bmi_omr for subject_id 14384737
Found 0 matching records in bmi_omr for subject_id 14390259
Found 33 matching records in bmi_omr for subject_id 14407680
Found 0 matching records in bmi_omr for subject_id 14415564
Found 0 matching records in bmi_omr for subject_id 14419079
Found 0 matching records in bmi_omr for subject_id 14451677
Found 31 matching records in bmi_omr for subject_id 14461680
Found 9 matching records in bmi_omr for subject_id 14480814
Found 0 matching records in bmi_omr for subject_id 14488132
Found 0 matching records in bmi_omr for subject_id 14605826
Found 0 matching records in bmi_omr for subject_id 14615762
Found 17 matching records in bmi_omr for subject_id 14621387
Found 0 matching records in bmi_omr for subject_id 14622515
Found 0 matching records in bmi_omr for subject_id 14646946
Found 0 matching records in bmi_omr for subject_id 14648756
Found 55 matching records in bmi_omr for subject_id 14657829
Found 27 matching records in bmi_omr for subject_id 14670441
Found 0 matching records in bmi_omr for subject_id 14675473
Found 1 matching records in bmi_omr for subject_id 14695460
Found 0 matching records in bmi_omr for subject_id 14698460
Found 0 matching records in bmi_omr for subject_id 14732515
Found 2 matching records in bmi_omr for subject_id 14775722
Found 0 matching records in bmi_omr for subject_id 14789110
Found 2 matching records in bmi_omr for subject_id 14805440
Found 0 matching records in bmi_omr for subject_id 14807966
Found 0 matching records in bmi_omr for subject_id 14807966
Found 10 matching records in bmi_omr for subject_id 14810971
Found 8 matching records in bmi_omr for subject_id 14838267
Found 22 matching records in bmi_omr for subject_id 14847272
Found 0 matching records in bmi_omr for subject_id 14871232
Found 0 matching records in bmi_omr for subject_id 14875383
Found 64 matching records in bmi_omr for subject_id 14877188
Found 64 matching records in bmi_omr for subject_id 14877188
Found 35 matching records in bmi_omr for subject_id 14915616
Found 0 matching records in bmi_omr for subject_id 14919373
Found 1 matching records in bmi_omr for subject_id 14922661
Found 0 matching records in bmi_omr for subject_id 14924129
Found 1 matching records in bmi_omr for subject_id 14945399
Found 41 matching records in bmi_omr for subject_id 14975281
Found 58 matching records in bmi_omr for subject_id 14978865
Found 7 matching records in bmi_omr for subject_id 14987986
Found 3 matching records in bmi_omr for subject_id 15012261
Found 0 matching records in bmi_omr for subject_id 15031785
Found 3 matching records in bmi_omr for subject_id 15031793
Found 0 matching records in bmi_omr for subject_id 15048648
Found 1 matching records in bmi_omr for subject_id 15060076
Found 0 matching records in bmi_omr for subject_id 15060267
Found 26 matching records in bmi_omr for subject_id 15091827
Found 0 matching records in bmi_omr for subject_id 15096292
Found 0 matching records in bmi_omr for subject_id 15098455
Found 0 matching records in bmi_omr for subject_id 15110026
Found 37 matching records in bmi_omr for subject_id 15114253
Found 1 matching records in bmi_omr for subject_id 15117669
Found 0 matching records in bmi_omr for subject_id 15135918
Found 91 matching records in bmi_omr for subject_id 15145407
Found 1 matching records in bmi_omr for subject_id 15150433
Found 97 matching records in bmi_omr for subject_id 15166831
Found 5 matching records in bmi_omr for subject_id 15184004
Found 38 matching records in bmi_omr for subject_id 15219971
Found 17 matching records in bmi_omr for subject_id 15247779
Found 0 matching records in bmi_omr for subject_id 15250779
Found 1 matching records in bmi_omr for subject_id 15287471
Found 0 matching records in bmi_omr for subject_id 15309481
Found 15 matching records in bmi_omr for subject_id 15326379
Found 0 matching records in bmi_omr for subject_id 15337171
Found 0 matching records in bmi_omr for subject_id 15342698
Found 4 matching records in bmi_omr for subject_id 15371739
Found 0 matching records in bmi_omr for subject_id 15393401
Found 0 matching records in bmi_omr for subject_id 15400287
Found 0 matching records in bmi_omr for subject_id 15409850
Found 0 matching records in bmi_omr for subject_id 15434313
Found 0 matching records in bmi_omr for subject_id 15461192
Found 24 matching records in bmi_omr for subject_id 15465960
Found 36 matching records in bmi_omr for subject_id 15477883
Found 0 matching records in bmi_omr for subject_id 15486248
Found 0 matching records in bmi_omr for subject_id 15501688
Found 0 matching records in bmi_omr for subject_id 15502000
Found 33 matching records in bmi_omr for subject_id 15511499
Found 0 matching records in bmi_omr for subject_id 15513924
Found 9 matching records in bmi_omr for subject_id 15548668
Found 0 matching records in bmi_omr for subject_id 15549650
Found 0 matching records in bmi_omr for subject_id 15562436
Found 11 matching records in bmi_omr for subject_id 15598339
Found 6 matching records in bmi_omr for subject_id 15608511
Found 0 matching records in bmi_omr for subject_id 15617824
Found 0 matching records in bmi_omr for subject_id 15620117
Found 0 matching records in bmi_omr for subject_id 15625104
Found 16 matching records in bmi_omr for subject_id 15628922
Found 0 matching records in bmi_omr for subject_id 15629116
Found 2 matching records in bmi_omr for subject_id 15629227
Found 2 matching records in bmi_omr for subject_id 15629227
Found 0 matching records in bmi_omr for subject_id 15641327
Found 0 matching records in bmi_omr for subject_id 15646609
Found 64 matching records in bmi_omr for subject_id 15693235
Found 0 matching records in bmi_omr for subject_id 15701559
Found 0 matching records in bmi_omr for subject_id 15730635
Found 9 matching records in bmi_omr for subject_id 15745117
Found 0 matching records in bmi_omr for subject_id 15754509
Found 1 matching records in bmi_omr for subject_id 15770196
Found 49 matching records in bmi_omr for subject_id 15782217
Found 0 matching records in bmi_omr for subject_id 15785130
Found 0 matching records in bmi_omr for subject_id 15819509
Found 0 matching records in bmi_omr for subject_id 15822558
Found 0 matching records in bmi_omr for subject_id 15838548
Found 0 matching records in bmi_omr for subject_id 15844687
Found 0 matching records in bmi_omr for subject_id 15872813
Found 114 matching records in bmi_omr for subject_id 15874174
Found 0 matching records in bmi_omr for subject_id 15900636
Found 0 matching records in bmi_omr for subject_id 15906646
Found 0 matching records in bmi_omr for subject_id 15925783
Found 0 matching records in bmi_omr for subject_id 15928447
Found 0 matching records in bmi_omr for subject_id 15934738
Found 0 matching records in bmi_omr for subject_id 15937789
Found 0 matching records in bmi_omr for subject_id 15938677
Found 1 matching records in bmi_omr for subject_id 15994651
Found 52 matching records in bmi_omr for subject_id 16007214
Found 0 matching records in bmi_omr for subject_id 16010374
Found 3 matching records in bmi_omr for subject_id 16026480
Found 0 matching records in bmi_omr for subject_id 16043614
Found 27 matching records in bmi_omr for subject_id 16056736
Found 27 matching records in bmi_omr for subject_id 16056736
Found 0 matching records in bmi_omr for subject_id 16060503
Found 0 matching records in bmi_omr for subject_id 16065435
Found 0 matching records in bmi_omr for subject_id 16094066
Found 0 matching records in bmi_omr for subject_id 16094066
Found 76 matching records in bmi_omr for subject_id 16099802
Found 0 matching records in bmi_omr for subject_id 16115107
Found 1 matching records in bmi_omr for subject_id 16142804
Found 0 matching records in bmi_omr for subject_id 16162028
Found 0 matching records in bmi_omr for subject_id 16162295
Found 0 matching records in bmi_omr for subject_id 16172520
Found 1 matching records in bmi_omr for subject_id 16181369
Found 0 matching records in bmi_omr for subject_id 16184374
Found 9 matching records in bmi_omr for subject_id 16200045
Found 0 matching records in bmi_omr for subject_id 16209869
Found 0 matching records in bmi_omr for subject_id 16252659
Found 0 matching records in bmi_omr for subject_id 16254995
Found 20 matching records in bmi_omr for subject_id 16261645
Found 0 matching records in bmi_omr for subject_id 16270701
Found 0 matching records in bmi_omr for subject_id 16273279
Found 18 matching records in bmi_omr for subject_id 16296993
Found 0 matching records in bmi_omr for subject_id 16315098
Found 0 matching records in bmi_omr for subject_id 16315098
Found 0 matching records in bmi_omr for subject_id 16345536
Found 0 matching records in bmi_omr for subject_id 16346066
Found 0 matching records in bmi_omr for subject_id 16354133
Found 0 matching records in bmi_omr for subject_id 16362028
Found 12 matching records in bmi_omr for subject_id 16364939
Found 0 matching records in bmi_omr for subject_id 16367560
Found 88 matching records in bmi_omr for subject_id 16386591
Found 0 matching records in bmi_omr for subject_id 16389962
Found 0 matching records in bmi_omr for subject_id 16391133
Found 7 matching records in bmi_omr for subject_id 16399790
Found 1 matching records in bmi_omr for subject_id 16425078
Found 21 matching records in bmi_omr for subject_id 16433543
Found 1 matching records in bmi_omr for subject_id 16436954
Found 0 matching records in bmi_omr for subject_id 16438601
Found 14 matching records in bmi_omr for subject_id 16454913
Found 2 matching records in bmi_omr for subject_id 16456719
Found 0 matching records in bmi_omr for subject_id 16471602
Found 7 matching records in bmi_omr for subject_id 16472270
Found 1 matching records in bmi_omr for subject_id 16483308
Found 3 matching records in bmi_omr for subject_id 16509298
Found 0 matching records in bmi_omr for subject_id 16521799
Found 0 matching records in bmi_omr for subject_id 16597917
Found 9 matching records in bmi_omr for subject_id 16602535
Found 3 matching records in bmi_omr for subject_id 16653153
Found 1 matching records in bmi_omr for subject_id 16653498
Found 36 matching records in bmi_omr for subject_id 16741854
Found 0 matching records in bmi_omr for subject_id 16765590
Found 0 matching records in bmi_omr for subject_id 16765720
Found 17 matching records in bmi_omr for subject_id 16773335
Found 0 matching records in bmi_omr for subject_id 16795519
Found 16 matching records in bmi_omr for subject_id 16817660
Found 4 matching records in bmi_omr for subject_id 16820491
Found 24 matching records in bmi_omr for subject_id 16825279
Found 19 matching records in bmi_omr for subject_id 16826165
Found 19 matching records in bmi_omr for subject_id 16826165
Found 0 matching records in bmi_omr for subject_id 16828725
Found 0 matching records in bmi_omr for subject_id 16828725
Found 1 matching records in bmi_omr for subject_id 16852221
Found 2 matching records in bmi_omr for subject_id 16868333
Found 36 matching records in bmi_omr for subject_id 16878717
Found 2 matching records in bmi_omr for subject_id 16889414
Found 0 matching records in bmi_omr for subject_id 16891384

/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Found 0 matching records in bmi_omr for subject_id 16893343
Found 0 matching records in bmi_omr for subject_id 16901966
Found 23 matching records in bmi_omr for subject_id 16921793
Found 3 matching records in bmi_omr for subject_id 16926271
Found 0 matching records in bmi_omr for subject_id 16931085
Found 1 matching records in bmi_omr for subject_id 16955775
Found 0 matching records in bmi_omr for subject_id 16957926
Found 8 matching records in bmi_omr for subject_id 16967171
Found 0 matching records in bmi_omr for subject_id 16979833
Found 76 matching records in bmi_omr for subject_id 17008145
Found 0 matching records in bmi_omr for subject_id 17014959
Found 0 matching records in bmi_omr for subject_id 17030222
Found 0 matching records in bmi_omr for subject_id 17031760
Found 0 matching records in bmi_omr for subject_id 17059345
Found 0 matching records in bmi_omr for subject_id 17075739
Found 44 matching records in bmi_omr for subject_id 17084051
Found 0 matching records in bmi_omr for subject_id 17087062
Found 0 matching records in bmi_omr for subject_id 17152613
Found 0 matching records in bmi_omr for subject_id 17160050
Found 0 matching records in bmi_omr for subject_id 17167158
Found 66 matching records in bmi_omr for subject_id 17168033
Found 0 matching records in bmi_omr for subject_id 17174562
Found 1 matching records in bmi_omr for subject_id 17203343
Found 0 matching records in bmi_omr for subject_id 17204457
Found 0 matching records in bmi_omr for subject_id 17220978
Found 0 matching records in bmi_omr for subject_id 17230235
Found 1 matching records in bmi_omr for subject_id 17241381
Found 1 matching records in bmi_omr for subject_id 17244595
Found 0 matching records in bmi_omr for subject_id 17293846
Found 2 matching records in bmi_omr for subject_id 17301684
Found 3 matching records in bmi_omr for subject_id 17304014
Found 0 matching records in bmi_omr for subject_id 17332963
Found 66 matching records in bmi_omr for subject_id 17333919
Found 25 matching records in bmi_omr for subject_id 17336355
Found 8 matching records in bmi_omr for subject_id 17349126
Found 0 matching records in bmi_omr for subject_id 17361324
Found 0 matching records in bmi_omr for subject_id 17407474
Found 0 matching records in bmi_omr for subject_id 17408826
Found 0 matching records in bmi_omr for subject_id 17409564
Found 1 matching records in bmi_omr for subject_id 17429237
Found 0 matching records in bmi_omr for subject_id 17439875
Found 8 matching records in bmi_omr for subject_id 17468465
Found 0 matching records in bmi_omr for subject_id 17480278
Found 8 matching records in bmi_omr for subject_id 17493163
Found 8 matching records in bmi_omr for subject_id 17493163
Found 0 matching records in bmi_omr for subject_id 17520318
Found 0 matching records in bmi_omr for subject_id 17549093
Found 0 matching records in bmi_omr for subject_id 17565549
Found 0 matching records in bmi_omr for subject_id 17581522
Found 8 matching records in bmi_omr for subject_id 17584398
Found 0 matching records in bmi_omr for subject_id 17591424
Found 0 matching records in bmi_omr for subject_id 17605679
Found 1 matching records in bmi_omr for subject_id 17614828
Found 0 matching records in bmi_omr for subject_id 17632049
Found 6 matching records in bmi_omr for subject_id 17635417
Found 51 matching records in bmi_omr for subject_id 17667080
Found 14 matching records in bmi_omr for subject_id 17686783
Found 0 matching records in bmi_omr for subject_id 17689310
Found 0 matching records in bmi_omr for subject_id 17692815
Found 0 matching records in bmi_omr for subject_id 17694801
Found 0 matching records in bmi_omr for subject_id 17741319
Found 0 matching records in bmi_omr for subject_id 17746181
Found 0 matching records in bmi_omr for subject_id 17746311
Found 1 matching records in bmi_omr for subject_id 17759808
Found 0 matching records in bmi_omr for subject_id 17762368
Found 0 matching records in bmi_omr for subject_id 17762462
Found 1 matching records in bmi_omr for subject_id 17779602
Found 0 matching records in bmi_omr for subject_id 17799350
Found 0 matching records in bmi_omr for subject_id 17811958
Found 5 matching records in bmi_omr for subject_id 17813905
Found 58 matching records in bmi_omr for subject_id 17840764
Found 4 matching records in bmi_omr for subject_id 17841897
Found 0 matching records in bmi_omr for subject_id 17846379
Found 0 matching records in bmi_omr for subject_id 17875153
Found 0 matching records in bmi_omr for subject_id 17880193
Found 0 matching records in bmi_omr for subject_id 17886662
Found 0 matching records in bmi_omr for subject_id 17898246
Found 6 matching records in bmi_omr for subject_id 17900872
Found 4 matching records in bmi_omr for subject_id 17908001
Found 0 matching records in bmi_omr for subject_id 17954271
Found 0 matching records in bmi_omr for subject_id 17966508
Found 153 matching records in bmi_omr for subject_id 17978572
Found 0 matching records in bmi_omr for subject_id 18001928
Found 0 matching records in bmi_omr for subject_id 18024998
Found 11 matching records in bmi_omr for subject_id 18044722
Found 0 matching records in bmi_omr for subject_id 18060982
Found 1 matching records in bmi_omr for subject_id 18061783
Found 0 matching records in bmi_omr for subject_id 18079547
Found 0 matching records in bmi_omr for subject_id 18079618
Found 91 matching records in bmi_omr for subject_id 18093343
Found 0 matching records in bmi_omr for subject_id 18108905
Found 5 matching records in bmi_omr for subject_id 18119847
Found 0 matching records in bmi_omr for subject_id 18133382
Found 52 matching records in bmi_omr for subject_id 18156009
Found 0 matching records in bmi_omr for subject_id 18165665
Found 0 matching records in bmi_omr for subject_id 18172078
Found 3 matching records in bmi_omr for subject_id 18174990
Found 0 matching records in bmi_omr for subject_id 18185115
Found 1 matching records in bmi_omr for subject_id 18189327
Found 0 matching records in bmi_omr for subject_id 18198852
Found 0 matching records in bmi_omr for subject_id 18202796
Found 0 matching records in bmi_omr for subject_id 18209510
Found 0 matching records in bmi_omr for subject_id 18221252
Found 0 matching records in bmi_omr for subject_id 18227371
Found 0 matching records in bmi_omr for subject_id 18227759
Found 111 matching records in bmi_omr for subject_id 18232489
Found 2 matching records in bmi_omr for subject_id 18238066
Found 2 matching records in bmi_omr for subject_id 18283270
Found 0 matching records in bmi_omr for subject_id 18287878
Found 4 matching records in bmi_omr for subject_id 18292095
Found 0 matching records in bmi_omr for subject_id 18303062
Found 0 matching records in bmi_omr for subject_id 18362343
Found 8 matching records in bmi_omr for subject_id 18365506
Found 0 matching records in bmi_omr for subject_id 18385980
Found 0 matching records in bmi_omr for subject_id 18417750
Found 0 matching records in bmi_omr for subject_id 18444540
Found 1 matching records in bmi_omr for subject_id 18453831
Found 18 matching records in bmi_omr for subject_id 18456006
Found 0 matching records in bmi_omr for subject_id 18461025
Found 0 matching records in bmi_omr for subject_id 18470053
Found 10 matching records in bmi_omr for subject_id 18476146
Found 31 matching records in bmi_omr for subject_id 18491974
Found 0 matching records in bmi_omr for subject_id 18499078
Found 0 matching records in bmi_omr for subject_id 18511092
Found 1 matching records in bmi_omr for subject_id 18521056
Found 9 matching records in bmi_omr for subject_id 18521700
Found 22 matching records in bmi_omr for subject_id 18611538
Found 8 matching records in bmi_omr for subject_id 18618162
Found 31 matching records in bmi_omr for subject_id 18624957
Found 29 matching records in bmi_omr for subject_id 18624988
Found 0 matching records in bmi_omr for subject_id 18628073
Found 5 matching records in bmi_omr for subject_id 18642064
Found 0 matching records in bmi_omr for subject_id 18669115
Found 15 matching records in bmi_omr for subject_id 18679942
Found 1 matching records in bmi_omr for subject_id 18686472
Found 11 matching records in bmi_omr for subject_id 18688402
Found 11 matching records in bmi_omr for subject_id 18688402
Found 1 matching records in bmi_omr for subject_id 18690729
Found 52 matching records in bmi_omr for subject_id 18691929
Found 0 matching records in bmi_omr for subject_id 18708770
Found 1 matching records in bmi_omr for subject_id 18732028
Found 21 matching records in bmi_omr for subject_id 18747069
Found 15 matching records in bmi_omr for subject_id 18756147
Found 0 matching records in bmi_omr for subject_id 18761820
Found 0 matching records in bmi_omr for subject_id 18768176
Found 0 matching records in bmi_omr for subject_id 18771599
Found 0 matching records in bmi_omr for subject_id 18787376
Found 2 matching records in bmi_omr for subject_id 18798039
Found 9 matching records in bmi_omr for subject_id 18802280
Found 0 matching records in bmi_omr for subject_id 18808759
Found 3 matching records in bmi_omr for subject_id 18830363
Found 17 matching records in bmi_omr for subject_id 18856086
Found 10 matching records in bmi_omr for subject_id 18871870
Found 1 matching records in bmi_omr for subject_id 18887370
Found 51 matching records in bmi_omr for subject_id 18903832
Found 0 matching records in bmi_omr for subject_id 18917458
Found 0 matching records in bmi_omr for subject_id 18920385
Found 0 matching records in bmi_omr for subject_id 18936629
Found 0 matching records in bmi_omr for subject_id 18952319
Found 1 matching records in bmi_omr for subject_id 18966399
Found 1 matching records in bmi_omr for subject_id 19025961
Found 0 matching records in bmi_omr for subject_id 19071652
Found 0 matching records in bmi_omr for subject_id 19071652
Found 8 matching records in bmi_omr for subject_id 19093458
Found 20 matching records in bmi_omr for subject_id 19100084
Found 20 matching records in bmi_omr for subject_id 19100084
Found 0 matching records in bmi_omr for subject_id 19111832
Found 4 matching records in bmi_omr for subject_id 19125187
Found 9 matching records in bmi_omr for subject_id 19132807
Found 0 matching records in bmi_omr for subject_id 19134572
Found 19 matching records in bmi_omr for subject_id 19141953
Found 20 matching records in bmi_omr for subject_id 19150427
Found 0 matching records in bmi_omr for subject_id 19159395
Found 5 matching records in bmi_omr for subject_id 19171163
Found 28 matching records in bmi_omr for subject_id 19194017
Found 1 matching records in bmi_omr for subject_id 19241725
Found 0 matching records in bmi_omr for subject_id 19265525
Found 0 matching records in bmi_omr for subject_id 19265807
Found 0 matching records in bmi_omr for subject_id 19292533
Found 38 matching records in bmi_omr for subject_id 19299068
Found 12 matching records in bmi_omr for subject_id 19330326
Found 0 matching records in bmi_omr for subject_id 19338265
Found 0 matching records in bmi_omr for subject_id 19350212
Found 23 matching records in bmi_omr for subject_id 19381528
Found 45 matching records in bmi_omr for subject_id 19408205
Found 3 matching records in bmi_omr for subject_id 19414438
Found 0 matching records in bmi_omr for subject_id 19415216
Found 9 matching records in bmi_omr for subject_id 19434406
Found 68 matching records in bmi_omr for subject_id 19456470
Found 0 matching records in bmi_omr for subject_id 19470120
Found 0 matching records in bmi_omr for subject_id 19470502
Found 0 matching records in bmi_omr for subject_id 19473767
Found 8 matching records in bmi_omr for subject_id 19477304
Found 2 matching records in bmi_omr for subject_id 19489684
Found 0 matching records in bmi_omr for subject_id 19490543
Found 5 matching records in bmi_omr for subject_id 19491045
Found 0 matching records in bmi_omr for subject_id 19491360
Found 0 matching records in bmi_omr for subject_id 19499609
Found 7 matching records in bmi_omr for subject_id 19509250
Found 0 matching records in bmi_omr for subject_id 19540062
Found 3 matching records in bmi_omr for subject_id 19552898
Found 0 matching records in bmi_omr for subject_id 19590098
Found 0 matching records in bmi_omr for subject_id 19591114
Found 0 matching records in bmi_omr for subject_id 19596157
Found 0 matching records in bmi_omr for subject_id 19610345
Found 0 matching records in bmi_omr for subject_id 19614462
Found 0 matching records in bmi_omr for subject_id 19620659
Found 0 matching records in bmi_omr for subject_id 19666743
Found 10 matching records in bmi_omr for subject_id 19683695
Found 69 matching records in bmi_omr for subject_id 19717536
Found 14 matching records in bmi_omr for subject_id 19739384
Found 40 matching records in bmi_omr for subject_id 19791816
Found 2 matching records in bmi_omr for subject_id 19805298
Found 0 matching records in bmi_omr for subject_id 19806212
Found 0 matching records in bmi_omr for subject_id 19857331
Found 0 matching records in bmi_omr for subject_id 19867569
Found 0 matching records in bmi_omr for subject_id 19869590
Found 0 matching records in bmi_omr for subject_id 19883399
Found 0 matching records in bmi_omr for subject_id 19887023
Found 53 matching records in bmi_omr for subject_id 19905277
Found 13 matching records in bmi_omr for subject_id 19908221
Found 0 matching records in bmi_omr for subject_id 19913016
Found 2 matching records in bmi_omr for subject_id 19926342
Found 10 matching records in bmi_omr for subject_id 19937623
Found 8 matching records in bmi_omr for subject_id 19962126
Found 2 matching records in bmi_omr for subject_id 19965443
Found 1 matching records in bmi_omr for subject_id 19978239
Found 7 matching records in bmi_omr for subject_id 19998330
Found 7 matching records in bmi_omr for subject_id 19998330
Found 7 matching records in bmi_omr for subject_id 19998330
Found 7 matching records in bmi_omr for subject_id 19998330

/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/1339896180.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [74]:
target[target['bmi'].isna()]

,subject_id,hadm_id,stay_id,intime,outtime,los,age_at_admission,gender,race,height,weight_admit,weight_first_day,bmi
30,10048899,20315647,30644814,2165-10-20 19:30:00.000000,2165-10-22 16:23:10,1.870255,91,F,WHITE,NaN,64.836828,NaN,NaN
34,10062020,25255239,35323579,2113-05-31 21:18:47.000000,2113-06-01 15:49:43,0.771481,66,F,WHITE,NaN,99.954710,NaN,NaN
43,10094805,21370539,34488364,2182-04-23 19:15:11.000000,2182-04-29 16:59:03,5.905463,74,M,WHITE,NaN,65.835784,NaN,NaN
69,10132888,21293774,34165381,2127-09-24 03:47:00.000000,2127-09-24 22:38:33,0.785799,89,M,ASIAN,NaN,65.862288,66.0,NaN
79,10155871,25868401,38274571,2153-03-29 18:54:00.000000,2153-03-30 17:26:37,0.939317,71,M,WHITE,NaN,103.083262,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4716,19867569,27384522,35392118,2114-03-03 09:38:40.000000,2114-03-05 13:19:50,2.153588,61,F,UNABLE TO OBTAIN,NaN,100.859506,103.6,NaN
4718,19869590,24842662,34062535,2117-02-02 11:30:36.000000,2117-02-05 18:13:28,3.279769,45,M,WHITE,NaN,130.000000,132.0,NaN
4723,19883399,27355975,39506648,2133-07-24 16:32:45.000000,2133-08-20 23:17:46,27.281262,84,M,UNABLE TO OBTAIN,NaN,105.353246,101.5,NaN
4725,19887023,24942188,35949283,2128-11-12 09:55:34.000000,2128-11-13 04:09:54,0.759954,91,M,WHITE,NaN,80.000000,NaN,NaN
4735,19913016,22737825,31765764,2122-10-03 19:16:56.000000,2122-10-04 07:53:02,0.525069,87,F,UNKNOWN,NaN,74.422276,NaN,NaN

In [80]:
def add_bmi_omr(target):
    for index, row in target[target['bmi'].isna()].iterrows():
        records = bmi_omr[bmi_omr['subject_id'] == row['subject_id']]
        print(f"Found {len(records)} matching records in bmi_omr for subject_id {row['subject_id']}")
        
        if not records.empty:
            records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
            closest_bmi_record = records.loc[records['time_diff'].idxmin()]
            target.at[index, 'bmi'] = closest_bmi_record['result_value']
    return target

In [81]:
target_new = add_bmi_omr(target)
target_new[target_new['bmi'].isna()]

Found 0 matching records in bmi_omr for subject_id 10048899
Found 0 matching records in bmi_omr for subject_id 10062020
Found 1 matching records in bmi_omr for subject_id 10078805
Found 0 matching records in bmi_omr for subject_id 10094805
Found 58 matching records in bmi_omr for subject_id 10102822
Found 9 matching records in bmi_omr for subject_id 10104549
Found 0 matching records in bmi_omr for subject_id 10132888
Found 34 matching records in bmi_omr for subject_id 10150056
Found 0 matching records in bmi_omr for subject_id 10155871
Found 0 matching records in bmi_omr for subject_id 10163041
Found 0 matching records in bmi_omr for subject_id 10182211
Found 25 matching records in bmi_omr for subject_id 10221321
Found 0 matching records in bmi_omr for subject_id 10261084
Found 49 matching records in bmi_omr for subject_id 10265482
Found 0 matching records in bmi_omr for subject_id 10282931
Found 1 matching records in bmi_omr for subject_id 10288279
Found 0 matching records in bmi_omr for subject_id 10326798
Found 1 matching records in bmi_omr for subject_id 10331939
Found 2 matching records in bmi_omr for subject_id 10336220
Found 31 matching records in bmi_omr for subject_id 10347400
Found 0 matching records in bmi_omr for subject_id 10350488
Found 28 matching records in bmi_omr for subject_id 10352831
Found 0 matching records in bmi_omr for subject_id 10356145
Found 0 matching records in bmi_omr for subject_id 10361825
Found 0 matching records in bmi_omr for subject_id 10378032
Found 0 matching records in bmi_omr for subject_id 10388817
Found 0 matching records in bmi_omr for subject_id 10391782
Found 0 matching records in bmi_omr for subject_id 10408681
Found 0 matching records in bmi_omr for subject_id 10412264
Found 0 matching records in bmi_omr for subject_id 10422844
Found 0 matching records in bmi_omr for subject_id 10428839
Found 0 matching records in bmi_omr for subject_id 10438032
Found 0 matching records in bmi_omr for subject_id 10440899
Found 0 matching records in bmi_omr for subject_id 10454567
Found 0 matching records in bmi_omr for subject_id 10495665
Found 28 matching records in bmi_omr for subject_id 10506912
Found 0 matching records in bmi_omr for subject_id 10509305
Found 0 matching records in bmi_omr for subject_id 10558983
Found 80 matching records in bmi_omr for subject_id 10561929
Found 5 matching records in bmi_omr for subject_id 10564547
Found 0 matching records in bmi_omr for subject_id 10581736
Found 0 matching records in bmi_omr for subject_id 10596591
Found 0 matching records in bmi_omr for subject_id 10614428
Found 0 matching records in bmi_omr for subject_id 10644914
Found 42 matching records in bmi_omr for subject_id 10652583
Found 0 matching records in bmi_omr for subject_id 10659551
Found 0 matching records in bmi_omr for subject_id 10660677
Found 1 matching records in bmi_omr for subject_id 10660679
Found 8 matching records in bmi_omr for subject_id 10678746
Found 105 matching records in bmi_omr for subject_id 10681517
Found 0 matching records in bmi_omr for subject_id 10689288
Found 10 matching records in bmi_omr for subject_id 10694040
Found 0 matching records in bmi_omr for subject_id 10706411
Found 7 matching records in bmi_omr for subject_id 10717791
Found 0 matching records in bmi_omr for subject_id 10743958
Found 0 matching records in bmi_omr for subject_id 10744419
Found 14 matching records in bmi_omr for subject_id 10747985
Found 0 matching records in bmi_omr for subject_id 10753059
Found 1 matching records in bmi_omr for subject_id 10756520
Found 7 matching records in bmi_omr for subject_id 10756850
Found 7 matching records in bmi_omr for subject_id 10762976
Found 39 matching records in bmi_omr for subject_id 10795507
Found 6 matching records in bmi_omr for subject_id 10800948
Found 0 matching records in bmi_omr for subject_id 10812451
Found 15 matching records in bmi_omr for subject_id 10839034
Found 15 matching records in bmi_omr for subject_id 10839034
Found 0 matching records in bmi_omr for subject_id 10840816
Found 3 matching records in bmi_omr for subject_id 10842701
Found 1 matching records in bmi_omr for subject_id 10843264
Found 0 matching records in bmi_omr for subject_id 10844901
Found 0 matching records in bmi_omr for subject_id 10846482
Found 1 matching records in bmi_omr for subject_id 10898129
Found 37 matching records in bmi_omr for subject_id 10903847
Found 21 matching records in bmi_omr for subject_id 10938096
Found 250 matching records in bmi_omr for subject_id 10942537
Found 0 matching records in bmi_omr for subject_id 10943603
Found 0 matching records in bmi_omr for subject_id 10955958
Found 3 matching records in bmi_omr for subject_id 10956923
Found 0 matching records in bmi_omr for subject_id 10958025
Found 42 matching records in bmi_omr for subject_id 11009622
Found 0 matching records in bmi_omr for subject_id 11020202
Found 0 matching records in bmi_omr for subject_id 11020740
Found 25 matching records in bmi_omr for subject_id 11028696
Found 0 matching records in bmi_omr for subject_id 11030142
Found 0 matching records in bmi_omr for subject_id 11036075
Found 0 matching records in bmi_omr for subject_id 11040759
Found 1 matching records in bmi_omr for subject_id 11059196
Found 8 matching records in bmi_omr for subject_id 11062833
Found 0 matching records in bmi_omr for subject_id 11071368
Found 0 matching records in bmi_omr for subject_id 11071368
Found 0 matching records in bmi_omr for subject_id 11083578
Found 37 matching records in bmi_omr for subject_id 11084285
Found 16 matching records in bmi_omr for subject_id 11084297
Found 0 matching records in bmi_omr for subject_id 11101541
Found 25 matching records in bmi_omr for subject_id 11144164
Found 0 matching records in bmi_omr for subject_id 11153447
Found 2 matching records in bmi_omr for subject_id 11155525
Found 12 matching records in bmi_omr for subject_id 11164537
Found 5 matching records in bmi_omr for subject_id 11167834
Found 37 matching records in bmi_omr for subject_id 11172056
Found 37 matching records in bmi_omr for subject_id 11172056
Found 1 matching records in bmi_omr for subject_id 11181978
Found 0 matching records in bmi_omr for subject_id 11218208
Found 1 matching records in bmi_omr for subject_id 11228986
Found 0 matching records in bmi_omr for subject_id 11264151
Found 7 matching records in bmi_omr for subject_id 11267045
Found 1 matching records in bmi_omr for subject_id 11295360
Found 7 matching records in bmi_omr for subject_id 11297219
Found 0 matching records in bmi_omr for subject_id 11349432
Found 1 matching records in bmi_omr for subject_id 11390506
Found 1 matching records in bmi_omr for subject_id 11421414
Found 0 matching records in bmi_omr for subject_id 11429550
Found 0 matching records in bmi_omr for subject_id 11440437
Found 2 matching records in bmi_omr for subject_id 11452644
Found 1 matching records in bmi_omr for subject_id 11466749
Found 18 matching records in bmi_omr for subject_id 11490051
Found 4 matching records in bmi_omr for subject_id 11496131
Found 0 matching records in bmi_omr for subject_id 11500847
Found 0 matching records in bmi_omr for subject_id 11525470
Found 0 matching records in bmi_omr for subject_id 11533462
Found 0 matching records in bmi_omr for subject_id 11541378
Found 0 matching records in bmi_omr for subject_id 11547745
Found 0 matching records in bmi_omr for subject_id 11568882
Found 0 matching records in bmi_omr for subject_id 11594544
Found 0 matching records in bmi_omr for subject_id 11596570
Found 0 matching records in bmi_omr for subject_id 11607628
Found 34 matching records in bmi_omr for subject_id 11614040
Found 0 matching records in bmi_omr for subject_id 11622859
Found 0 matching records in bmi_omr for subject_id 11626035
Found 0 matching records in bmi_omr for subject_id 11666182
Found 5 matching records in bmi_omr for subject_id 11669818
Found 1 matching records in bmi_omr for subject_id 11693603
Found 1 matching records in bmi_omr for subject_id 11699868
Found 12 matching records in bmi_omr for subject_id 11703451
Found 1 matching records in bmi_omr for subject_id 11731531
Found 0 matching records in bmi_omr for subject_id 11738511
Found 0 matching records in bmi_omr for subject_id 11784974
Found 0 matching records in bmi_omr for subject_id 11791996
Found 0 matching records in bmi_omr for subject_id 11792958
Found 0 matching records in bmi_omr for subject_id 11801858
Found 4 matching records in bmi_omr for subject_id 11815711
Found 0 matching records in bmi_omr for subject_id 11818861
Found 41 matching records in bmi_omr for subject_id 11826223
Found 61 matching records in bmi_omr for subject_id 11834165
Found 2 matching records in bmi_omr for subject_id 11839107
Found 0 matching records in bmi_omr for subject_id 11845541
Found 0 matching records in bmi_omr for subject_id 11847456
Found 0 matching records in bmi_omr for subject_id 11848123
Found 0 matching records in bmi_omr for subject_id 11863972
Found 0 matching records in bmi_omr for subject_id 11890276
Found 1 matching records in bmi_omr for subject_id 11899008
Found 0 matching records in bmi_omr for subject_id 11900074
Found 0 matching records in bmi_omr for subject_id 11960419
Found 0 matching records in bmi_omr for subject_id 11974898
Found 0 matching records in bmi_omr for subject_id 11988196
Found 9 matching records in bmi_omr for subject_id 11994104
Found 24 matching records in bmi_omr for subject_id 12018901
Found 0 matching records in bmi_omr for subject_id 12020348
Found 39 matching records in bmi_omr for subject_id 12026058
Found 0 matching records in bmi_omr for subject_id 12051291
Found 14 matching records in bmi_omr for subject_id 12088187
Found 5 matching records in bmi_omr for subject_id 12110322
Found 0 matching records in bmi_omr for subject_id 12113414
Found 0 matching records in bmi_omr for subject_id 12130785
Found 95 matching records in bmi_omr for subject_id 12136799
Found 7 matching records in bmi_omr for subject_id 12141075
Found 4 matching records in bmi_omr for subject_id 12152816
Found 0 matching records in bmi_omr for subject_id 12179057
Found 0 matching records in bmi_omr for subject_id 12192561
Found 0 matching records in bmi_omr for subject_id 12232497
Found 2 matching records in bmi_omr for subject_id 12255381
Found 0 matching records in bmi_omr for subject_id 12291041
Found 0 matching records in bmi_omr for subject_id 12299660
Found 54 matching records in bmi_omr for subject_id 12305811
Found 0 matching records in bmi_omr for subject_id 12341427
Found 95 matching records in bmi_omr for subject_id 12351481
Found 1 matching records in bmi_omr for subject_id 12354911
Found 0 matching records in bmi_omr for subject_id 12375281
Found 0 matching records in bmi_omr for subject_id 12400032
Found 0 matching records in bmi_omr for subject_id 12413639
Found 0 matching records in bmi_omr for subject_id 12413668
Found 0 matching records in bmi_omr for subject_id 12478288
Found 0 matching records in bmi_omr for subject_id 12478986
Found 0 matching records in bmi_omr for subject_id 12515935
Found 1 matching records in bmi_omr for subject_id 12539996
Found 0 matching records in bmi_omr for subject_id 12540572
Found 83 matching records in bmi_omr for subject_id 12606113
Found 0 matching records in bmi_omr for subject_id 12618938
Found 17 matching records in bmi_omr for subject_id 12621660
Found 25 matching records in bmi_omr for subject_id 12632853
Found 2 matching records in bmi_omr for subject_id 12669413
Found 0 matching records in bmi_omr for subject_id 12688594
Found 0 matching records in bmi_omr for subject_id 12705048
Found 0 matching records in bmi_omr for subject_id 12717101
Found 0 matching records in bmi_omr for subject_id 12719657
Found 2 matching records in bmi_omr for subject_id 12744661
Found 3 matching records in bmi_omr for subject_id 12746489
Found 6 matching records in bmi_omr for subject_id 12746865
Found 7 matching records in bmi_omr for subject_id 12771269
Found 7 matching records in bmi_omr for subject_id 12771269
Found 42 matching records in bmi_omr for subject_id 12772049
Found 0 matching records in bmi_omr for subject_id 12810677
Found 7 matching records in bmi_omr for subject_id 12819156
Found 0 matching records in bmi_omr for subject_id 12823860
Found 3 matching records in bmi_omr for subject_id 12835204
Found 6 matching records in bmi_omr for subject_id 12843938
Found 0 matching records in bmi_omr for subject_id 12845930
Found 0 matching records in bmi_omr for subject_id 12874696
Found 0 matching records in bmi_omr for subject_id 12886813
Found 0 matching records in bmi_omr for subject_id 12889151
Found 55 matching records in bmi_omr for subject_id 12926897
Found 0 matching records in bmi_omr for subject_id 12940327
Found 1 matching records in bmi_omr for subject_id 12948123
Found 0 matching records in bmi_omr for subject_id 12985528
Found 0 matching records in bmi_omr for subject_id 12989843
Found 37 matching records in bmi_omr for subject_id 12993146
Found 0 matching records in bmi_omr for subject_id 13007347
Found 1 matching records in bmi_omr for subject_id 13017137
Found 0 matching records in bmi_omr for subject_id 13021449
Found 5 matching records in bmi_omr for subject_id 13054145
Found 29 matching records in bmi_omr for subject_id 13055950
Found 33 matching records in bmi_omr for subject_id 13067703
Found 8 matching records in bmi_omr for subject_id 13073377
Found 0 matching records in bmi_omr for subject_id 13082436
Found 0 matching records in bmi_omr for subject_id 13085916
Found 1 matching records in bmi_omr for subject_id 13102520
Found 0 matching records in bmi_omr for subject_id 13117363
Found 39 matching records in bmi_omr for subject_id 13120648
Found 0 matching records in bmi_omr for subject_id 13128501
Found 8 matching records in bmi_omr for subject_id 13146404
Found 0 matching records in bmi_omr for subject_id 13155358
Found 12 matching records in bmi_omr for subject_id 13157308
Found 18 matching records in bmi_omr for subject_id 13173167
Found 57 matching records in bmi_omr for subject_id 13178765
Found 57 matching records in bmi_omr for subject_id 13178765
Found 0 matching records in bmi_omr for subject_id 13179532

/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Found 10 matching records in bmi_omr for subject_id 13194166
Found 1 matching records in bmi_omr for subject_id 13211467
Found 38 matching records in bmi_omr for subject_id 13214820
Found 2 matching records in bmi_omr for subject_id 13229117
Found 8 matching records in bmi_omr for subject_id 13262421
Found 0 matching records in bmi_omr for subject_id 13266707
Found 0 matching records in bmi_omr for subject_id 13273685
Found 0 matching records in bmi_omr for subject_id 13273685
Found 0 matching records in bmi_omr for subject_id 13281743
Found 0 matching records in bmi_omr for subject_id 13299872
Found 0 matching records in bmi_omr for subject_id 13331522
Found 1 matching records in bmi_omr for subject_id 13364910
Found 65 matching records in bmi_omr for subject_id 13398212
Found 6 matching records in bmi_omr for subject_id 13401524
Found 0 matching records in bmi_omr for subject_id 13421733
Found 0 matching records in bmi_omr for subject_id 13434840
Found 0 matching records in bmi_omr for subject_id 13440565
Found 0 matching records in bmi_omr for subject_id 13444096
Found 0 matching records in bmi_omr for subject_id 13473186
Found 0 matching records in bmi_omr for subject_id 13476942
Found 2 matching records in bmi_omr for subject_id 13489125
Found 1 matching records in bmi_omr for subject_id 13496178
Found 0 matching records in bmi_omr for subject_id 13499005
Found 0 matching records in bmi_omr for subject_id 13517843
Found 0 matching records in bmi_omr for subject_id 13525920
Found 79 matching records in bmi_omr for subject_id 13552058
Found 0 matching records in bmi_omr for subject_id 13552589
Found 62 matching records in bmi_omr for subject_id 13565877
Found 11 matching records in bmi_omr for subject_id 13581129
Found 0 matching records in bmi_omr for subject_id 13586805
Found 0 matching records in bmi_omr for subject_id 13602379
Found 1 matching records in bmi_omr for subject_id 13603311
Found 0 matching records in bmi_omr for subject_id 13606680
Found 0 matching records in bmi_omr for subject_id 13647229
Found 20 matching records in bmi_omr for subject_id 13647235
Found 0 matching records in bmi_omr for subject_id 13652307
Found 0 matching records in bmi_omr for subject_id 13668433
Found 0 matching records in bmi_omr for subject_id 13687496
Found 0 matching records in bmi_omr for subject_id 13700088
Found 0 matching records in bmi_omr for subject_id 13700088
Found 0 matching records in bmi_omr for subject_id 13700088
Found 0 matching records in bmi_omr for subject_id 13720987
Found 69 matching records in bmi_omr for subject_id 13723709
Found 0 matching records in bmi_omr for subject_id 13731023
Found 0 matching records in bmi_omr for subject_id 13763521
Found 0 matching records in bmi_omr for subject_id 13768188
Found 0 matching records in bmi_omr for subject_id 13790647
Found 0 matching records in bmi_omr for subject_id 13807411
Found 2 matching records in bmi_omr for subject_id 13811201
Found 2 matching records in bmi_omr for subject_id 13819234
Found 0 matching records in bmi_omr for subject_id 13825137
Found 23 matching records in bmi_omr for subject_id 13868052
Found 21 matching records in bmi_omr for subject_id 13886221
Found 0 matching records in bmi_omr for subject_id 13899061
Found 0 matching records in bmi_omr for subject_id 13899061
Found 0 matching records in bmi_omr for subject_id 13909327
Found 0 matching records in bmi_omr for subject_id 13918205
Found 0 matching records in bmi_omr for subject_id 13930027
Found 0 matching records in bmi_omr for subject_id 13934278
Found 0 matching records in bmi_omr for subject_id 13940684
Found 0 matching records in bmi_omr for subject_id 13951775
Found 0 matching records in bmi_omr for subject_id 13959611
Found 0 matching records in bmi_omr for subject_id 13973768
Found 0 matching records in bmi_omr for subject_id 13998126
Found 1 matching records in bmi_omr for subject_id 14033551
Found 0 matching records in bmi_omr for subject_id 14095904
Found 0 matching records in bmi_omr for subject_id 14115236
Found 6 matching records in bmi_omr for subject_id 14124404
Found 0 matching records in bmi_omr for subject_id 14141892
Found 0 matching records in bmi_omr for subject_id 14155967
Found 0 matching records in bmi_omr for subject_id 14159896
Found 0 matching records in bmi_omr for subject_id 14170425
Found 82 matching records in bmi_omr for subject_id 14179538
Found 0 matching records in bmi_omr for subject_id 14181640
Found 23 matching records in bmi_omr for subject_id 14187451
Found 23 matching records in bmi_omr for subject_id 14187451
Found 0 matching records in bmi_omr for subject_id 14195074
Found 0 matching records in bmi_omr for subject_id 14203331
Found 48 matching records in bmi_omr for subject_id 14208778
Found 5 matching records in bmi_omr for subject_id 14219343
Found 1 matching records in bmi_omr for subject_id 14231067
Found 1 matching records in bmi_omr for subject_id 14257692
Found 0 matching records in bmi_omr for subject_id 14271359
Found 0 matching records in bmi_omr for subject_id 14276248
Found 61 matching records in bmi_omr for subject_id 14286519
Found 0 matching records in bmi_omr for subject_id 14288514
Found 0 matching records in bmi_omr for subject_id 14291723
Found 1 matching records in bmi_omr for subject_id 14311471
Found 0 matching records in bmi_omr for subject_id 14340815
Found 2 matching records in bmi_omr for subject_id 14351751
Found 0 matching records in bmi_omr for subject_id 14366256
Found 0 matching records in bmi_omr for subject_id 14384737
Found 0 matching records in bmi_omr for subject_id 14390259
Found 33 matching records in bmi_omr for subject_id 14407680
Found 0 matching records in bmi_omr for subject_id 14415564
Found 0 matching records in bmi_omr for subject_id 14419079
Found 0 matching records in bmi_omr for subject_id 14451677
Found 31 matching records in bmi_omr for subject_id 14461680
Found 9 matching records in bmi_omr for subject_id 14480814
Found 0 matching records in bmi_omr for subject_id 14488132
Found 0 matching records in bmi_omr for subject_id 14605826
Found 0 matching records in bmi_omr for subject_id 14615762
Found 17 matching records in bmi_omr for subject_id 14621387
Found 0 matching records in bmi_omr for subject_id 14622515
Found 0 matching records in bmi_omr for subject_id 14646946
Found 0 matching records in bmi_omr for subject_id 14648756
Found 55 matching records in bmi_omr for subject_id 14657829
Found 27 matching records in bmi_omr for subject_id 14670441
Found 0 matching records in bmi_omr for subject_id 14675473
Found 1 matching records in bmi_omr for subject_id 14695460
Found 0 matching records in bmi_omr for subject_id 14698460
Found 0 matching records in bmi_omr for subject_id 14732515
Found 2 matching records in bmi_omr for subject_id 14775722
Found 0 matching records in bmi_omr for subject_id 14789110
Found 2 matching records in bmi_omr for subject_id 14805440
Found 0 matching records in bmi_omr for subject_id 14807966
Found 0 matching records in bmi_omr for subject_id 14807966
Found 10 matching records in bmi_omr for subject_id 14810971
Found 8 matching records in bmi_omr for subject_id 14838267
Found 22 matching records in bmi_omr for subject_id 14847272
Found 0 matching records in bmi_omr for subject_id 14871232
Found 0 matching records in bmi_omr for subject_id 14875383
Found 64 matching records in bmi_omr for subject_id 14877188
Found 64 matching records in bmi_omr for subject_id 14877188
Found 35 matching records in bmi_omr for subject_id 14915616
Found 0 matching records in bmi_omr for subject_id 14919373
Found 1 matching records in bmi_omr for subject_id 14922661
Found 0 matching records in bmi_omr for subject_id 14924129
Found 1 matching records in bmi_omr for subject_id 14945399
Found 41 matching records in bmi_omr for subject_id 14975281
Found 58 matching records in bmi_omr for subject_id 14978865
Found 7 matching records in bmi_omr for subject_id 14987986
Found 3 matching records in bmi_omr for subject_id 15012261
Found 0 matching records in bmi_omr for subject_id 15031785
Found 3 matching records in bmi_omr for subject_id 15031793
Found 0 matching records in bmi_omr for subject_id 15048648
Found 1 matching records in bmi_omr for subject_id 15060076
Found 0 matching records in bmi_omr for subject_id 15060267
Found 26 matching records in bmi_omr for subject_id 15091827
Found 0 matching records in bmi_omr for subject_id 15096292
Found 0 matching records in bmi_omr for subject_id 15098455
Found 0 matching records in bmi_omr for subject_id 15110026
Found 37 matching records in bmi_omr for subject_id 15114253
Found 1 matching records in bmi_omr for subject_id 15117669
Found 0 matching records in bmi_omr for subject_id 15135918
Found 91 matching records in bmi_omr for subject_id 15145407
Found 1 matching records in bmi_omr for subject_id 15150433
Found 97 matching records in bmi_omr for subject_id 15166831
Found 5 matching records in bmi_omr for subject_id 15184004
Found 38 matching records in bmi_omr for subject_id 15219971
Found 17 matching records in bmi_omr for subject_id 15247779
Found 0 matching records in bmi_omr for subject_id 15250779
Found 1 matching records in bmi_omr for subject_id 15287471
Found 0 matching records in bmi_omr for subject_id 15309481
Found 15 matching records in bmi_omr for subject_id 15326379
Found 0 matching records in bmi_omr for subject_id 15337171
Found 0 matching records in bmi_omr for subject_id 15342698
Found 4 matching records in bmi_omr for subject_id 15371739
Found 0 matching records in bmi_omr for subject_id 15393401
Found 0 matching records in bmi_omr for subject_id 15400287
Found 0 matching records in bmi_omr for subject_id 15409850
Found 0 matching records in bmi_omr for subject_id 15434313
Found 0 matching records in bmi_omr for subject_id 15461192
Found 24 matching records in bmi_omr for subject_id 15465960
Found 36 matching records in bmi_omr for subject_id 15477883
Found 0 matching records in bmi_omr for subject_id 15486248
Found 0 matching records in bmi_omr for subject_id 15501688
Found 0 matching records in bmi_omr for subject_id 15502000
Found 33 matching records in bmi_omr for subject_id 15511499
Found 0 matching records in bmi_omr for subject_id 15513924
Found 9 matching records in bmi_omr for subject_id 15548668
Found 0 matching records in bmi_omr for subject_id 15549650
Found 0 matching records in bmi_omr for subject_id 15562436
Found 11 matching records in bmi_omr for subject_id 15598339
Found 6 matching records in bmi_omr for subject_id 15608511
Found 0 matching records in bmi_omr for subject_id 15617824
Found 0 matching records in bmi_omr for subject_id 15620117
Found 0 matching records in bmi_omr for subject_id 15625104
Found 16 matching records in bmi_omr for subject_id 15628922
Found 0 matching records in bmi_omr for subject_id 15629116
Found 2 matching records in bmi_omr for subject_id 15629227
Found 2 matching records in bmi_omr for subject_id 15629227
Found 0 matching records in bmi_omr for subject_id 15641327
Found 0 matching records in bmi_omr for subject_id 15646609
Found 64 matching records in bmi_omr for subject_id 15693235
Found 0 matching records in bmi_omr for subject_id 15701559
Found 0 matching records in bmi_omr for subject_id 15730635
Found 9 matching records in bmi_omr for subject_id 15745117
Found 0 matching records in bmi_omr for subject_id 15754509
Found 1 matching records in bmi_omr for subject_id 15770196
Found 49 matching records in bmi_omr for subject_id 15782217
Found 0 matching records in bmi_omr for subject_id 15785130
Found 0 matching records in bmi_omr for subject_id 15819509
Found 0 matching records in bmi_omr for subject_id 15822558
Found 0 matching records in bmi_omr for subject_id 15838548
Found 0 matching records in bmi_omr for subject_id 15844687
Found 0 matching records in bmi_omr for subject_id 15872813
Found 114 matching records in bmi_omr for subject_id 15874174
Found 0 matching records in bmi_omr for subject_id 15900636
Found 0 matching records in bmi_omr for subject_id 15906646
Found 0 matching records in bmi_omr for subject_id 15925783
Found 0 matching records in bmi_omr for subject_id 15928447
Found 0 matching records in bmi_omr for subject_id 15934738
Found 0 matching records in bmi_omr for subject_id 15937789
Found 0 matching records in bmi_omr for subject_id 15938677
Found 1 matching records in bmi_omr for subject_id 15994651
Found 52 matching records in bmi_omr for subject_id 16007214
Found 0 matching records in bmi_omr for subject_id 16010374
Found 3 matching records in bmi_omr for subject_id 16026480
Found 0 matching records in bmi_omr for subject_id 16043614
Found 27 matching records in bmi_omr for subject_id 16056736
Found 27 matching records in bmi_omr for subject_id 16056736
Found 0 matching records in bmi_omr for subject_id 16060503
Found 0 matching records in bmi_omr for subject_id 16065435
Found 0 matching records in bmi_omr for subject_id 16094066
Found 0 matching records in bmi_omr for subject_id 16094066
Found 76 matching records in bmi_omr for subject_id 16099802
Found 0 matching records in bmi_omr for subject_id 16115107
Found 1 matching records in bmi_omr for subject_id 16142804
Found 0 matching records in bmi_omr for subject_id 16162028
Found 0 matching records in bmi_omr for subject_id 16162295
Found 0 matching records in bmi_omr for subject_id 16172520
Found 1 matching records in bmi_omr for subject_id 16181369
Found 0 matching records in bmi_omr for subject_id 16184374
Found 9 matching records in bmi_omr for subject_id 16200045
Found 0 matching records in bmi_omr for subject_id 16209869
Found 0 matching records in bmi_omr for subject_id 16252659
Found 0 matching records in bmi_omr for subject_id 16254995
Found 20 matching records in bmi_omr for subject_id 16261645
Found 0 matching records in bmi_omr for subject_id 16270701
Found 0 matching records in bmi_omr for subject_id 16273279
Found 18 matching records in bmi_omr for subject_id 16296993
Found 0 matching records in bmi_omr for subject_id 16315098
Found 0 matching records in bmi_omr for subject_id 16315098
Found 0 matching records in bmi_omr for subject_id 16345536
Found 0 matching records in bmi_omr for subject_id 16346066
Found 0 matching records in bmi_omr for subject_id 16354133
Found 0 matching records in bmi_omr for subject_id 16362028
Found 12 matching records in bmi_omr for subject_id 16364939
Found 0 matching records in bmi_omr for subject_id 16367560
Found 88 matching records in bmi_omr for subject_id 16386591
Found 0 matching records in bmi_omr for subject_id 16389962
Found 0 matching records in bmi_omr for subject_id 16391133
Found 7 matching records in bmi_omr for subject_id 16399790
Found 1 matching records in bmi_omr for subject_id 16425078
Found 21 matching records in bmi_omr for subject_id 16433543
Found 1 matching records in bmi_omr for subject_id 16436954
Found 0 matching records in bmi_omr for subject_id 16438601
Found 14 matching records in bmi_omr for subject_id 16454913
Found 2 matching records in bmi_omr for subject_id 16456719
Found 0 matching records in bmi_omr for subject_id 16471602
Found 7 matching records in bmi_omr for subject_id 16472270
Found 1 matching records in bmi_omr for subject_id 16483308
Found 3 matching records in bmi_omr for subject_id 16509298
Found 0 matching records in bmi_omr for subject_id 16521799
Found 0 matching records in bmi_omr for subject_id 16597917
Found 9 matching records in bmi_omr for subject_id 16602535
Found 3 matching records in bmi_omr for subject_id 16653153
Found 1 matching records in bmi_omr for subject_id 16653498
Found 36 matching records in bmi_omr for subject_id 16741854
Found 0 matching records in bmi_omr for subject_id 16765590
Found 0 matching records in bmi_omr for subject_id 16765720
Found 17 matching records in bmi_omr for subject_id 16773335
Found 0 matching records in bmi_omr for subject_id 16795519
Found 16 matching records in bmi_omr for subject_id 16817660
Found 4 matching records in bmi_omr for subject_id 16820491
Found 24 matching records in bmi_omr for subject_id 16825279
Found 19 matching records in bmi_omr for subject_id 16826165
Found 19 matching records in bmi_omr for subject_id 16826165
Found 0 matching records in bmi_omr for subject_id 16828725
Found 0 matching records in bmi_omr for subject_id 16828725

/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Found 1 matching records in bmi_omr for subject_id 16852221
Found 2 matching records in bmi_omr for subject_id 16868333
Found 36 matching records in bmi_omr for subject_id 16878717
Found 2 matching records in bmi_omr for subject_id 16889414
Found 0 matching records in bmi_omr for subject_id 16891384
Found 0 matching records in bmi_omr for subject_id 16893343
Found 0 matching records in bmi_omr for subject_id 16901966
Found 23 matching records in bmi_omr for subject_id 16921793
Found 3 matching records in bmi_omr for subject_id 16926271
Found 0 matching records in bmi_omr for subject_id 16931085
Found 1 matching records in bmi_omr for subject_id 16955775
Found 0 matching records in bmi_omr for subject_id 16957926
Found 8 matching records in bmi_omr for subject_id 16967171
Found 0 matching records in bmi_omr for subject_id 16979833
Found 76 matching records in bmi_omr for subject_id 17008145
Found 0 matching records in bmi_omr for subject_id 17014959
Found 0 matching records in bmi_omr for subject_id 17030222
Found 0 matching records in bmi_omr for subject_id 17031760
Found 0 matching records in bmi_omr for subject_id 17059345
Found 0 matching records in bmi_omr for subject_id 17075739
Found 44 matching records in bmi_omr for subject_id 17084051
Found 0 matching records in bmi_omr for subject_id 17087062
Found 0 matching records in bmi_omr for subject_id 17152613
Found 0 matching records in bmi_omr for subject_id 17160050
Found 0 matching records in bmi_omr for subject_id 17167158
Found 66 matching records in bmi_omr for subject_id 17168033
Found 0 matching records in bmi_omr for subject_id 17174562
Found 1 matching records in bmi_omr for subject_id 17203343
Found 0 matching records in bmi_omr for subject_id 17204457
Found 0 matching records in bmi_omr for subject_id 17220978
Found 0 matching records in bmi_omr for subject_id 17230235
Found 1 matching records in bmi_omr for subject_id 17241381
Found 1 matching records in bmi_omr for subject_id 17244595
Found 0 matching records in bmi_omr for subject_id 17293846
Found 2 matching records in bmi_omr for subject_id 17301684
Found 3 matching records in bmi_omr for subject_id 17304014
Found 0 matching records in bmi_omr for subject_id 17332963
Found 66 matching records in bmi_omr for subject_id 17333919
Found 25 matching records in bmi_omr for subject_id 17336355
Found 8 matching records in bmi_omr for subject_id 17349126
Found 0 matching records in bmi_omr for subject_id 17361324
Found 0 matching records in bmi_omr for subject_id 17407474
Found 0 matching records in bmi_omr for subject_id 17408826
Found 0 matching records in bmi_omr for subject_id 17409564
Found 1 matching records in bmi_omr for subject_id 17429237
Found 0 matching records in bmi_omr for subject_id 17439875
Found 8 matching records in bmi_omr for subject_id 17468465
Found 0 matching records in bmi_omr for subject_id 17480278
Found 8 matching records in bmi_omr for subject_id 17493163
Found 8 matching records in bmi_omr for subject_id 17493163
Found 0 matching records in bmi_omr for subject_id 17520318
Found 0 matching records in bmi_omr for subject_id 17549093
Found 0 matching records in bmi_omr for subject_id 17565549
Found 0 matching records in bmi_omr for subject_id 17581522
Found 8 matching records in bmi_omr for subject_id 17584398
Found 0 matching records in bmi_omr for subject_id 17591424
Found 0 matching records in bmi_omr for subject_id 17605679
Found 1 matching records in bmi_omr for subject_id 17614828
Found 0 matching records in bmi_omr for subject_id 17632049
Found 6 matching records in bmi_omr for subject_id 17635417
Found 51 matching records in bmi_omr for subject_id 17667080
Found 14 matching records in bmi_omr for subject_id 17686783
Found 0 matching records in bmi_omr for subject_id 17689310
Found 0 matching records in bmi_omr for subject_id 17692815
Found 0 matching records in bmi_omr for subject_id 17694801
Found 0 matching records in bmi_omr for subject_id 17741319
Found 0 matching records in bmi_omr for subject_id 17746181
Found 0 matching records in bmi_omr for subject_id 17746311
Found 1 matching records in bmi_omr for subject_id 17759808
Found 0 matching records in bmi_omr for subject_id 17762368
Found 0 matching records in bmi_omr for subject_id 17762462
Found 1 matching records in bmi_omr for subject_id 17779602
Found 0 matching records in bmi_omr for subject_id 17799350
Found 0 matching records in bmi_omr for subject_id 17811958
Found 5 matching records in bmi_omr for subject_id 17813905
Found 58 matching records in bmi_omr for subject_id 17840764
Found 4 matching records in bmi_omr for subject_id 17841897
Found 0 matching records in bmi_omr for subject_id 17846379
Found 0 matching records in bmi_omr for subject_id 17875153
Found 0 matching records in bmi_omr for subject_id 17880193
Found 0 matching records in bmi_omr for subject_id 17886662
Found 0 matching records in bmi_omr for subject_id 17898246
Found 6 matching records in bmi_omr for subject_id 17900872
Found 4 matching records in bmi_omr for subject_id 17908001
Found 0 matching records in bmi_omr for subject_id 17954271
Found 0 matching records in bmi_omr for subject_id 17966508
Found 153 matching records in bmi_omr for subject_id 17978572
Found 0 matching records in bmi_omr for subject_id 18001928
Found 0 matching records in bmi_omr for subject_id 18024998
Found 11 matching records in bmi_omr for subject_id 18044722
Found 0 matching records in bmi_omr for subject_id 18060982
Found 1 matching records in bmi_omr for subject_id 18061783
Found 0 matching records in bmi_omr for subject_id 18079547
Found 0 matching records in bmi_omr for subject_id 18079618
Found 91 matching records in bmi_omr for subject_id 18093343
Found 0 matching records in bmi_omr for subject_id 18108905
Found 5 matching records in bmi_omr for subject_id 18119847
Found 0 matching records in bmi_omr for subject_id 18133382
Found 52 matching records in bmi_omr for subject_id 18156009
Found 0 matching records in bmi_omr for subject_id 18165665
Found 0 matching records in bmi_omr for subject_id 18172078
Found 3 matching records in bmi_omr for subject_id 18174990
Found 0 matching records in bmi_omr for subject_id 18185115
Found 1 matching records in bmi_omr for subject_id 18189327
Found 0 matching records in bmi_omr for subject_id 18198852
Found 0 matching records in bmi_omr for subject_id 18202796
Found 0 matching records in bmi_omr for subject_id 18209510
Found 0 matching records in bmi_omr for subject_id 18221252
Found 0 matching records in bmi_omr for subject_id 18227371
Found 0 matching records in bmi_omr for subject_id 18227759
Found 111 matching records in bmi_omr for subject_id 18232489
Found 2 matching records in bmi_omr for subject_id 18238066
Found 2 matching records in bmi_omr for subject_id 18283270
Found 0 matching records in bmi_omr for subject_id 18287878
Found 4 matching records in bmi_omr for subject_id 18292095
Found 0 matching records in bmi_omr for subject_id 18303062
Found 0 matching records in bmi_omr for subject_id 18362343
Found 8 matching records in bmi_omr for subject_id 18365506
Found 0 matching records in bmi_omr for subject_id 18385980
Found 0 matching records in bmi_omr for subject_id 18417750
Found 0 matching records in bmi_omr for subject_id 18444540
Found 1 matching records in bmi_omr for subject_id 18453831
Found 18 matching records in bmi_omr for subject_id 18456006
Found 0 matching records in bmi_omr for subject_id 18461025
Found 0 matching records in bmi_omr for subject_id 18470053
Found 10 matching records in bmi_omr for subject_id 18476146
Found 31 matching records in bmi_omr for subject_id 18491974
Found 0 matching records in bmi_omr for subject_id 18499078
Found 0 matching records in bmi_omr for subject_id 18511092
Found 1 matching records in bmi_omr for subject_id 18521056
Found 9 matching records in bmi_omr for subject_id 18521700
Found 22 matching records in bmi_omr for subject_id 18611538
Found 8 matching records in bmi_omr for subject_id 18618162
Found 31 matching records in bmi_omr for subject_id 18624957
Found 29 matching records in bmi_omr for subject_id 18624988
Found 0 matching records in bmi_omr for subject_id 18628073
Found 5 matching records in bmi_omr for subject_id 18642064
Found 0 matching records in bmi_omr for subject_id 18669115
Found 15 matching records in bmi_omr for subject_id 18679942
Found 1 matching records in bmi_omr for subject_id 18686472
Found 11 matching records in bmi_omr for subject_id 18688402
Found 11 matching records in bmi_omr for subject_id 18688402
Found 1 matching records in bmi_omr for subject_id 18690729
Found 52 matching records in bmi_omr for subject_id 18691929
Found 0 matching records in bmi_omr for subject_id 18708770
Found 1 matching records in bmi_omr for subject_id 18732028
Found 21 matching records in bmi_omr for subject_id 18747069
Found 15 matching records in bmi_omr for subject_id 18756147
Found 0 matching records in bmi_omr for subject_id 18761820
Found 0 matching records in bmi_omr for subject_id 18768176
Found 0 matching records in bmi_omr for subject_id 18771599
Found 0 matching records in bmi_omr for subject_id 18787376
Found 2 matching records in bmi_omr for subject_id 18798039
Found 9 matching records in bmi_omr for subject_id 18802280
Found 0 matching records in bmi_omr for subject_id 18808759
Found 3 matching records in bmi_omr for subject_id 18830363
Found 17 matching records in bmi_omr for subject_id 18856086
Found 10 matching records in bmi_omr for subject_id 18871870
Found 1 matching records in bmi_omr for subject_id 18887370
Found 51 matching records in bmi_omr for subject_id 18903832
Found 0 matching records in bmi_omr for subject_id 18917458
Found 0 matching records in bmi_omr for subject_id 18920385
Found 0 matching records in bmi_omr for subject_id 18936629
Found 0 matching records in bmi_omr for subject_id 18952319
Found 1 matching records in bmi_omr for subject_id 18966399
Found 1 matching records in bmi_omr for subject_id 19025961
Found 0 matching records in bmi_omr for subject_id 19071652
Found 0 matching records in bmi_omr for subject_id 19071652
Found 8 matching records in bmi_omr for subject_id 19093458
Found 20 matching records in bmi_omr for subject_id 19100084
Found 20 matching records in bmi_omr for subject_id 19100084
Found 0 matching records in bmi_omr for subject_id 19111832
Found 4 matching records in bmi_omr for subject_id 19125187
Found 9 matching records in bmi_omr for subject_id 19132807
Found 0 matching records in bmi_omr for subject_id 19134572
Found 19 matching records in bmi_omr for subject_id 19141953
Found 20 matching records in bmi_omr for subject_id 19150427
Found 0 matching records in bmi_omr for subject_id 19159395
Found 5 matching records in bmi_omr for subject_id 19171163
Found 28 matching records in bmi_omr for subject_id 19194017
Found 1 matching records in bmi_omr for subject_id 19241725
Found 0 matching records in bmi_omr for subject_id 19265525
Found 0 matching records in bmi_omr for subject_id 19265807
Found 0 matching records in bmi_omr for subject_id 19292533
Found 38 matching records in bmi_omr for subject_id 19299068
Found 12 matching records in bmi_omr for subject_id 19330326
Found 0 matching records in bmi_omr for subject_id 19338265
Found 0 matching records in bmi_omr for subject_id 19350212
Found 23 matching records in bmi_omr for subject_id 19381528
Found 45 matching records in bmi_omr for subject_id 19408205
Found 3 matching records in bmi_omr for subject_id 19414438
Found 0 matching records in bmi_omr for subject_id 19415216
Found 9 matching records in bmi_omr for subject_id 19434406
Found 68 matching records in bmi_omr for subject_id 19456470
Found 0 matching records in bmi_omr for subject_id 19470120
Found 0 matching records in bmi_omr for subject_id 19470502
Found 0 matching records in bmi_omr for subject_id 19473767
Found 8 matching records in bmi_omr for subject_id 19477304
Found 2 matching records in bmi_omr for subject_id 19489684
Found 0 matching records in bmi_omr for subject_id 19490543
Found 5 matching records in bmi_omr for subject_id 19491045
Found 0 matching records in bmi_omr for subject_id 19491360
Found 0 matching records in bmi_omr for subject_id 19499609
Found 7 matching records in bmi_omr for subject_id 19509250
Found 0 matching records in bmi_omr for subject_id 19540062
Found 3 matching records in bmi_omr for subject_id 19552898
Found 0 matching records in bmi_omr for subject_id 19590098
Found 0 matching records in bmi_omr for subject_id 19591114
Found 0 matching records in bmi_omr for subject_id 19596157
Found 0 matching records in bmi_omr for subject_id 19610345
Found 0 matching records in bmi_omr for subject_id 19614462
Found 0 matching records in bmi_omr for subject_id 19620659
Found 0 matching records in bmi_omr for subject_id 19666743
Found 10 matching records in bmi_omr for subject_id 19683695
Found 69 matching records in bmi_omr for subject_id 19717536
Found 14 matching records in bmi_omr for subject_id 19739384
Found 40 matching records in bmi_omr for subject_id 19791816
Found 2 matching records in bmi_omr for subject_id 19805298
Found 0 matching records in bmi_omr for subject_id 19806212
Found 0 matching records in bmi_omr for subject_id 19857331
Found 0 matching records in bmi_omr for subject_id 19867569
Found 0 matching records in bmi_omr for subject_id 19869590
Found 0 matching records in bmi_omr for subject_id 19883399
Found 0 matching records in bmi_omr for subject_id 19887023
Found 53 matching records in bmi_omr for subject_id 19905277
Found 13 matching records in bmi_omr for subject_id 19908221
Found 0 matching records in bmi_omr for subject_id 19913016
Found 2 matching records in bmi_omr for subject_id 19926342
Found 10 matching records in bmi_omr for subject_id 19937623
Found 8 matching records in bmi_omr for subject_id 19962126
Found 2 matching records in bmi_omr for subject_id 19965443
Found 1 matching records in bmi_omr for subject_id 19978239
Found 7 matching records in bmi_omr for subject_id 19998330
Found 7 matching records in bmi_omr for subject_id 19998330
Found 7 matching records in bmi_omr for subject_id 19998330
Found 7 matching records in bmi_omr for subject_id 19998330

/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['time_diff'] = abs(pd.to_datetime(records['chartdate']) - pd.to_datetime(row['intime']))
/tmp/ipykernel_1928800/4089781703.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,subject_id,hadm_id,stay_id,intime,outtime,los,age_at_admission,gender,race,height,weight_admit,weight_first_day,bmi
30,10048899,20315647,30644814,2165-10-20 19:30:00.000000,2165-10-22 16:23:10,1.870255,91,F,WHITE,NaN,64.836828,NaN,NaN
34,10062020,25255239,35323579,2113-05-31 21:18:47.000000,2113-06-01 15:49:43,0.771481,66,F,WHITE,NaN,99.954710,NaN,NaN
43,10094805,21370539,34488364,2182-04-23 19:15:11.000000,2182-04-29 16:59:03,5.905463,74,M,WHITE,NaN,65.835784,NaN,NaN
69,10132888,21293774,34165381,2127-09-24 03:47:00.000000,2127-09-24 22:38:33,0.785799,89,M,ASIAN,NaN,65.862288,66.0,NaN
79,10155871,25868401,38274571,2153-03-29 18:54:00.000000,2153-03-30 17:26:37,0.939317,71,M,WHITE,NaN,103.083262,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4716,19867569,27384522,35392118,2114-03-03 09:38:40.000000,2114-03-05 13:19:50,2.153588,61,F,UNABLE TO OBTAIN,NaN,100.859506,103.6,NaN
4718,19869590,24842662,34062535,2117-02-02 11:30:36.000000,2117-02-05 18:13:28,3.279769,45,M,WHITE,NaN,130.000000,132.0,NaN
4723,19883399,27355975,39506648,2133-07-24 16:32:45.000000,2133-08-20 23:17:46,27.281262,84,M,UNABLE TO OBTAIN,NaN,105.353246,101.5,NaN
4725,19887023,24942188,35949283,2128-11-12 09:55:34.000000,2128-11-13 04:09:54,0.759954,91,M,WHITE,NaN,80.000000,NaN,NaN
4735,19913016,22737825,31765764,2122-10-03 19:16:56.000000,2122-10-04 07:53:02,0.525069,87,F,UNKNOWN,NaN,74.422276,NaN,NaN

In [94]:
target_new.dtypes

subject_id            int64
hadm_id               int64
stay_id               int64
intime               object
outtime              object
los                 float64
age_at_admission      int64
gender               object
race                 object
height              float64
weight_admit        float64
weight_first_day    float64
bmi                  object
dtype: object

In [84]:
target_new[target_new['subject_id'] == 19998330]

,subject_id,hadm_id,stay_id,intime,outtime,los,age_at_admission,gender,race,height,weight_admit,weight_first_day,bmi
4776,19998330,23151993,31085771,2178-09-20 21:40:00.000000,2178-09-21 18:06:26,0.851690,72,F,BLACK/AFRICAN AMERICAN,NaN,76.205960,NaN,24.7
4777,19998330,21135114,31417783,2178-10-21 17:20:00.000000,2178-10-23 17:43:28,2.016296,72,F,BLACK/AFRICAN AMERICAN,NaN,77.514506,77.65,25.0
4778,19998330,24492004,32641669,2178-10-01 08:51:00.000000,2178-10-03 23:25:08,2.607037,72,F,BLACK/AFRICAN AMERICAN,NaN,77.100000,74.55,25.0
4779,19998330,24096838,33428243,2178-11-27 22:53:00.000000,2178-11-29 21:29:39,1.942118,72,F,BLACK/AFRICAN AMERICAN,NaN,83.000000,NaN,26.4

In [16]:
outfile = open(os.path.join(path_save, 'finish_bmi.pickle'), 'wb')
pickle.dump(target_new, outfile)
outfile.close()

NameError: name 'target_new' is not defined

In [33]:
finish_bmi = pd.read_csv('./eligible_patients_with_demographics.csv')
finish_bmi[finish_bmi['bmi'].isna()]

,subject_id,hadm_id,stay_id,intime,outtime,los,age_at_admission,gender,race,height,weight_admit,weight_first_day,bmi
30,10048899,20315647,30644814,2165-10-20 19:30:00.000000,2165-10-22 16:23:10,1.870255,91,F,WHITE,NaN,64.836828,NaN,NaN
34,10062020,25255239,35323579,2113-05-31 21:18:47.000000,2113-06-01 15:49:43,0.771481,66,F,WHITE,NaN,99.954710,NaN,NaN
43,10094805,21370539,34488364,2182-04-23 19:15:11.000000,2182-04-29 16:59:03,5.905463,74,M,WHITE,NaN,65.835784,NaN,NaN
69,10132888,21293774,34165381,2127-09-24 03:47:00.000000,2127-09-24 22:38:33,0.785799,89,M,ASIAN,NaN,65.862288,66.0,NaN
79,10155871,25868401,38274571,2153-03-29 18:54:00.000000,2153-03-30 17:26:37,0.939317,71,M,WHITE,NaN,103.083262,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4716,19867569,27384522,35392118,2114-03-03 09:38:40.000000,2114-03-05 13:19:50,2.153588,61,F,UNABLE TO OBTAIN,NaN,100.859506,103.6,NaN
4718,19869590,24842662,34062535,2117-02-02 11:30:36.000000,2117-02-05 18:13:28,3.279769,45,M,WHITE,NaN,130.000000,132.0,NaN
4723,19883399,27355975,39506648,2133-07-24 16:32:45.000000,2133-08-20 23:17:46,27.281262,84,M,UNABLE TO OBTAIN,NaN,105.353246,101.5,NaN
4725,19887023,24942188,35949283,2128-11-12 09:55:34.000000,2128-11-13 04:09:54,0.759954,91,M,WHITE,NaN,80.000000,NaN,NaN
4735,19913016,22737825,31765764,2122-10-03 19:16:56.000000,2122-10-04 07:53:02,0.525069,87,F,UNKNOWN,NaN,74.422276,NaN,NaN

In [93]:
finish_bmi.dtypes

subject_id            int64
hadm_id               int64
stay_id               int64
intime               object
outtime              object
los                 float64
age_at_admission      int64
gender               object
race                 object
height              float64
weight_admit        float64
weight_first_day    float64
bmi                 float64
dtype: object

In [23]:
bmi_null = merged[(merged['bmi'].isna()) & (merged['result_value'].notna())]
patients_null = bmi_null.drop_duplicates(subset = ['subject_id'])
patients_null

       subject_id  bmi result_value
560      10078805  NaN         35.7
595      10102822  NaN         26.8
685      10104549  NaN         32.8
989      10150056  NaN         31.6
1414     10221321  NaN         46.0
...           ...  ...          ...
60281    19937623  NaN         27.3
60314    19962126  NaN         20.7
60339    19965443  NaN         23.8
60355    19978239  NaN         31.4
60405    19998330  NaN         37.2

[323 rows x 3 columns]

In [49]:
gcs_query = """
WITH gcs_final AS (
    SELECT
        tp.subject_id,
        tp.stay_id,
        g.charttime,
        MAX(CASE WHEN g.itemid = 223901 THEN g.valuenum END) AS gcs_motor,
        MAX(CASE WHEN g.itemid = 223900 THEN g.valuenum END) AS gcs_verbal,
        MAX(CASE WHEN g.itemid = 220739 THEN g.valuenum END) AS gcs_eyes,
        ROW_NUMBER() OVER (PARTITION BY tp.stay_id ORDER BY g.charttime ASC) AS gcs_seq,
        COALESCE(MAX(CASE WHEN g.itemid = 223901 THEN g.valuenum END), 0) +
        COALESCE(MAX(CASE WHEN g.itemid = 223900 THEN g.valuenum END), 0) +
        COALESCE(MAX(CASE WHEN g.itemid = 220739 THEN g.valuenum END), 0) AS gcs_total
    FROM target_patients tp
    LEFT JOIN gcs_df g ON tp.stay_id = g.stay_id
        AND g.charttime >= DATETIME(tp.intime, '-6 hours')
    WHERE g.warning IS DISTINCT FROM 1
    GROUP BY tp.subject_id, tp.stay_id, g.charttime
)

SELECT
    tp.*,
    gs.gcs_motor,
    gs.gcs_verbal,
    gs.gcs_eyes,
    gs.gcs_total
FROM target_patients tp
LEFT JOIN gcs_final gs ON tp.stay_id = gs.stay_id AND gs.gcs_seq = 1;

"""

In [21]:
def add_gcs(target_patients, gcs_df):
    return psql.sqldf(gcs_query, locals())

In [50]:
target = add_gcs(finish_bmi, gcs_df)
target

,subject_id,hadm_id,stay_id,intime,outtime,los,age_at_admission,gender,race,height,weight_admit,weight_first_day,bmi,gcs_motor,gcs_verbal,gcs_eyes,gcs_total
0,10002428,23473524,35479615,2156-05-11 14:49:34.000000,2156-05-22 14:16:46,10.977222,81,F,WHITE,1.50,48.400000,49.25,21.51,4.0,1.0,1.0,6.0
1,10003400,20214994,32128372,2137-02-25 23:37:19.000000,2137-03-10 21:29:36,12.911308,75,F,BLACK/AFRICAN AMERICAN,1.66,92.902976,94.70,33.71,1.0,1.0,1.0,3.0
2,10003400,23559586,34577403,2137-08-10 19:54:51.000000,2137-08-13 17:54:54,2.916701,75,F,BLACK/AFRICAN AMERICAN,1.66,NaN,90.50,32.84,5.0,1.0,2.0,8.0
3,10004235,24181354,34100191,2196-02-24 17:07:00.000000,2196-02-29 15:58:02,4.952106,47,M,BLACK/CAPE VERDEAN,1.83,126.823339,130.00,37.87,1.0,1.0,2.0,4.0
4,10004401,23920883,32743332,2144-04-21 20:49:00.000000,2144-05-01 13:53:03,9.711146,85,M,WHITE,1.70,90.596303,NaN,31.35,5.0,5.0,4.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4775,19997293,26366652,36403582,2123-11-17 05:47:01.000000,2123-11-19 17:08:30,2.473252,76,M,WHITE,1.82,172.756341,NaN,52.15,6.0,4.0,4.0,14.0
4776,19998330,23151993,31085771,2178-09-20 21:40:00.000000,2178-09-21 18:06:26,0.851690,72,F,BLACK/AFRICAN AMERICAN,NaN,76.205960,NaN,24.70,6.0,5.0,4.0,15.0
4777,19998330,21135114,31417783,2178-10-21 17:20:00.000000,2178-10-23 17:43:28,2.016296,72,F,BLACK/AFRICAN AMERICAN,NaN,77.514506,77.65,25.00,4.0,1.0,2.0,7.0
4778,19998330,24492004,32641669,2178-10-01 08:51:00.000000,2178-10-03 23:25:08,2.607037,72,F,BLACK/AFRICAN AMERICAN,NaN,77.100000,74.55,25.00,5.0,1.0,1.0,7.0
4779,19998330,24096838,33428243,2178-11-27 22:53:00.000000,2178-11-29 21:29:39,1.942118,72,F,BLACK/AFRICAN AMERICAN,NaN,83.000000,NaN,26.40,4.0,1.0,2.0,7.0

In [51]:
print(target[target['gcs_total'] == 0.])
(target['gcs_total'] == 0.).sum()

      subject_id   hadm_id   stay_id                      intime  \
258     10509305  27629385  38848838  2171-04-09 09:46:14.000000
860     11738511  28821534  31222837  2150-06-04 06:14:00.000000
900     11839107  28925461  39983771  2158-06-05 21:56:35.000000
971     11960419  24403720  30077305  2140-03-08 11:00:50.000000
988     11988196  26286088  33299263  2160-01-17 00:37:42.000000
1267    12606113  29557348  30110577  2137-11-26 14:49:34.000000
1421    12940327  24634273  36499196  2185-05-25 17:30:51.000000
1465    13017137  25322154  34279854  2155-03-23 14:02:30.000000
1486    13067703  22432056  33990872  2153-07-28 06:41:54.000000
2353    14877188  22811307  38335937  2179-06-10 13:29:00.000000
2787    15745117  23437079  30540914  2183-11-17 17:41:53.000000
2897    15937789  20703152  37807781  2155-05-03 23:25:33.000000
3292    16751019  24056955  33917084  2128-04-16 11:52:09.000000
3976    18290425  21966107  38423613  2184-07-19 19:21:02.000000
4497    19477304  25876676  39223303  2125-12-25 01:00:00.000000
4615    19683695  27751015  37245983  2139-10-22 16:10:31.000000
4708    19855099  23924601  39989651  2169-02-23 13:40:26.000000

                  outtime       los  age_at_admission gender  \
258   2171-04-09 17:55:29  0.339757                78      M
860   2150-06-04 17:55:39  0.487257                85      M
900   2158-06-05 22:38:53  0.029375                53      M
971   2140-03-08 15:26:56  0.184792                77      M
988   2160-01-17 06:08:47  0.229919                74      M
1267  2137-11-26 22:04:19  0.301910                72      M
1421  2185-05-25 22:01:02  0.187627                83      F
1465  2155-03-23 18:50:07  0.199734                84      F
1486  2153-07-28 08:16:58  0.066019                74      M
2353  2179-06-10 18:33:55  0.211748                81      M
2787  2183-11-17 17:43:58  0.001447                71      F
2897  2155-05-04 07:22:25  0.331157                81      M
3292  2128-04-16 17:44:53  0.244954                85      M
3976  2184-07-19 23:44:32  0.182986                64      F
4497  2125-12-25 01:39:09  0.027187                80      M
4615  2139-10-22 19:39:09  0.144884                71      M
4708  2169-02-23 22:38:00  0.373310                51      F

                              race  height  weight_admit  weight_first_day  \
258                          WHITE     NaN           NaN               NaN
860                          WHITE     NaN     62.900000               NaN
900                          WHITE    1.84           NaN               NaN
971                          WHITE    1.74           NaN               NaN
988                          WHITE     NaN     92.100000               NaN
1267               WHITE - RUSSIAN     NaN     84.911322               NaN
1421                         WHITE     NaN     60.000000               NaN
1465  HISPANIC/LATINO - SALVADORAN     NaN     75.000000               NaN
1486                         WHITE     NaN           NaN               NaN
2353   HISPANIC/LATINO - DOMINICAN     NaN    109.885240               NaN
2787                         WHITE    1.70           NaN               NaN
2897                         WHITE     NaN     86.700000               NaN
3292                         WHITE    1.88     99.895673               NaN
3976                         WHITE    1.55    107.849769               NaN
4497             WHITE - BRAZILIAN    1.75           NaN               NaN
4615                         WHITE     NaN     67.929057               NaN
4708                         WHITE    1.57     79.916538               NaN

        bmi  gcs_motor  gcs_verbal  gcs_eyes  gcs_total
258     NaN        NaN         NaN       NaN        0.0
860     NaN        NaN         NaN       NaN        0.0
900   61.60        NaN         NaN       NaN        0.0
971     NaN        NaN         NaN       NaN        0.0
988     NaN        NaN         NaN       NaN        0.0
1267  28.40        NaN         NaN       NaN        0.0
1421    NaN        NaN         NaN       NaN        0.0
1465  26.90        NaN         NaN       NaN        0.0
1486  24.20        NaN         NaN       NaN        0.0
2353  39.80        NaN         NaN       NaN        0.0
2787  26.30        NaN         NaN       NaN        0.0
2897    NaN        NaN         NaN       NaN        0.0
3292  28.26        NaN         NaN       NaN        0.0
3976  44.89        NaN         NaN       NaN        0.0
4497  21.70        NaN         NaN       NaN        0.0
4615  21.80        NaN         NaN       NaN        0.0
4708  32.42        NaN         NaN       NaN        0.0

17

In [56]:
outfile = open(os.path.join(path_save, 'finish_gcs.pickle'), 'wb')
pickle.dump(target, outfile)
outfile.close()

In [60]:
target[target['gcs_verbal'].isna()]

,subject_id,hadm_id,stay_id,intime,outtime,los,age_at_admission,gender,race,height,weight_admit,weight_first_day,bmi,gcs_motor,gcs_verbal,gcs_eyes,gcs_total
148,10277901,22457836,35649985,2137-06-10 13:09:09.000000,2137-06-14 18:19:52,4.215775,92,M,OTHER,1.52,42.600000,NaN,18.44,6.0,NaN,4.0,10.0
204,10386233,21983314,33456290,2159-10-22 04:19:12.000000,2159-10-24 02:39:50,1.930995,70,M,OTHER,1.74,113.072830,113.2,37.35,6.0,NaN,3.0,9.0
255,10505233,20036938,33430313,2131-10-18 21:09:00.000000,2131-10-20 17:33:19,1.850220,74,M,WHITE,1.78,103.855333,104.0,32.78,6.0,NaN,4.0,10.0
258,10509305,27629385,38848838,2171-04-09 09:46:14.000000,2171-04-09 17:55:29,0.339757,78,M,WHITE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
319,10643827,29803052,30589359,2154-04-14 06:08:00.000000,2154-04-22 21:39:39,8.646979,75,F,UNABLE TO OBTAIN,1.63,64.932187,NaN,24.44,NaN,NaN,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4497,19477304,25876676,39223303,2125-12-25 01:00:00.000000,2125-12-25 01:39:09,0.027187,80,M,WHITE - BRAZILIAN,1.75,NaN,NaN,21.70,NaN,NaN,NaN,0.0
4518,19508874,29290320,39415876,2207-01-27 01:46:52.000000,2207-03-04 15:38:12,36.577315,87,F,BLACK/CARIBBEAN ISLAND,1.45,57.000000,57.0,27.11,6.0,NaN,4.0,10.0
4594,19645295,21641527,33179426,2135-04-02 08:30:46.000000,2135-04-07 18:42:54,5.425093,85,F,OTHER,1.63,53.633339,NaN,20.19,5.0,NaN,3.0,8.0
4615,19683695,27751015,37245983,2139-10-22 16:10:31.000000,2139-10-22 19:39:09,0.144884,71,M,WHITE,NaN,67.929057,NaN,21.80,NaN,NaN,NaN,0.0
4708,19855099,23924601,39989651,2169-02-23 13:40:26.000000,2169-02-23 22:38:00,0.373310,51,F,WHITE,1.57,79.916538,NaN,32.42,NaN,NaN,NaN,0.0

In [3]:
path_save = './pickle'
infile = open(os.path.join(path_save,'finish_gcs.pickle'), 'rb')
target = pickle.load(infile)
infile.close()

In [69]:
len(target['stay_id'].unique())

4780

In [4]:
target_patients = pd.read_csv('/media/data/huyennm/mimic-iv/notebook/eligible_patients.csv')
target_patients

,subject_id,hadm_id,stay_id,charttime,vent,age_at_admission
0,10001843,26133978,39698942,2134-12-05 19:00:00,1,76
1,10001843,26133978,39698942,2134-12-05 20:00:00,1,76
2,10001843,26133978,39698942,2134-12-05 21:00:00,1,76
3,10001843,26133978,39698942,2134-12-05 21:01:00,1,76
4,10001843,26133978,39698942,2134-12-05 23:00:00,1,76
...,...,...,...,...,...,...
201344,19998591,24349193,31144045,2185-07-17 16:00:00,1,53
201345,19998591,24349193,36794489,2185-07-04 07:50:00,1,53
201346,19998591,24349193,36794489,2185-07-04 12:00:00,1,53
201347,19998591,24349193,36794489,2185-07-04 16:00:00,1,53
201348,19998591,24349193,36794489,2185-07-04 19:55:00,1,53

In [6]:
ventsettings_query = """
SELECT
  ce.stay_id, ce.charttime,
  MAX(CASE WHEN ce.itemid IS NULL OR ce.value IS NULL THEN 0 
           WHEN ce.itemid = 720 AND ce.value != 'Other/Remarks' THEN 1  
           WHEN ce.itemid = 223848 AND ce.value != 'Other' THEN 1
           WHEN ce.itemid = 223849 THEN 1 
           WHEN ce.itemid = 467 AND ce.value = 'Ventilator' THEN 1 
           WHEN ce.itemid IN (445, 448, 449, 450, 1340, 1486, 1600, 224687, 
                              639, 654, 681, 682, 683, 684, 224685, 224684, 224686, 
                              218, 436, 535, 444, 459, 224697, 224695, 224696, 224746, 
                              224747, 221, 1, 1211, 1655, 2000, 226873, 224738, 224419, 
                              224750, 227187, 543, 5865, 5866, 224707, 224709, 224705, 
                              224706, 60, 437, 505, 506, 686, 220339, 224700, 3459, 
                              501, 502, 503, 224702, 223, 667, 668, 669, 670, 671, 672, 
                              224701) 
           THEN 1 ELSE 0 END) AS MechVent,
  MAX(CASE WHEN ce.itemid = 226732 AND ce.value IN 
           ('Nasal cannula', 'Face tent', 'Aerosol-cool', 'Trach mask', 
            'High flow neb', 'Non-rebreather', 'Venti mask', 'Medium conc mask', 
            'T-piece', 'High flow nasal cannula', 'Ultrasonic neb', 'Vapomist') 
           THEN 1 
           WHEN ce.itemid = 467 AND ce.value IN 
           ('Cannula', 'Nasal Cannula', 'None', 'Face Tent', 'Aerosol-Cool', 
            'Trach Mask', 'Hi Flow Neb', 'Non-Rebreather', 'Venti Mask', 
            'Medium Conc Mask', 'Vapotherm', 'T-Piece', 'Hood', 'Hut', 
            'TranstrachealCat', 'Heated Neb', 'Ultrasonic Neb') 
           THEN 1 ELSE 0 END) AS OxygenTherapy,
  MAX(CASE WHEN ce.itemid IS NULL OR ce.value IS NULL THEN 0 
           WHEN ce.itemid = 640 AND ce.value IN ('Extubated', 'Self Extubation') THEN 1 
           ELSE 0 END) AS Extubated,
  MAX(CASE WHEN ce.itemid IS NULL OR ce.value IS NULL THEN 0 
           WHEN ce.itemid = 640 AND ce.value = 'Self Extubation' THEN 1 
           ELSE 0 END) AS SelfExtubated
FROM dur_mv ce
JOIN target_patients tp ON ce.stay_id = tp.stay_id
WHERE ce.value IS NOT NULL
  AND ce.warning IS DISTINCT FROM 1
  AND ce.itemid IN (720, 223849, 223848, 445, 448, 449, 450, 1340, 1486, 
                    1600, 224687, 639, 654, 681, 682, 683, 684, 224685, 
                    224684, 224686, 218, 436, 535, 444, 224697, 224695, 
                    224696, 224746, 224747, 221, 1, 1211, 1655, 2000, 
                    226873, 224738, 224419, 224750, 227187, 543, 5865, 
                    5866, 224707, 224709, 224705, 224706, 60, 437, 505, 
                    506, 686, 220339, 224700, 3459, 501, 502, 503, 
                    224702, 223, 667, 668, 669, 670, 671, 672, 224701, 
                    640, 468, 469, 470, 471, 227287, 226732, 223834, 467)
GROUP BY ce.stay_id, ce.charttime
UNION
SELECT
  pe.stay_id, pe.starttime AS charttime,
  0 AS MechVent, 0 AS OxygenTherapy,
  1 AS Extubated, CASE WHEN pe.itemid = 225468 THEN 1 ELSE 0 END AS SelfExtubated
FROM procedureevents_mv pe
JOIN target_patients tp ON pe.stay_id = tp.stay_id
WHERE pe.itemid IN (227194, 225468, 225477);
"""

In [7]:
def add_ventsettings(target_patients, dur_mv, procedureevents_mv):
    return psql.sqldf(ventsettings_query, locals())

In [8]:
new_target = add_ventsettings(target_patients, dur_mv, procedureevents_mv)

PandaSQLException: (sqlite3.OperationalError) no such table: target
[SQL:
SELECT
  ce.stay_id, ce.charttime,
  MAX(CASE WHEN ce.itemid IS NULL OR ce.value IS NULL THEN 0
           WHEN ce.itemid = 720 AND ce.value != 'Other/Remarks' THEN 1
           WHEN ce.itemid = 223848 AND ce.value != 'Other' THEN 1
           WHEN ce.itemid = 223849 THEN 1
           WHEN ce.itemid = 467 AND ce.value = 'Ventilator' THEN 1
           WHEN ce.itemid IN (445, 448, 449, 450, 1340, 1486, 1600, 224687,
                              639, 654, 681, 682, 683, 684, 224685, 224684, 224686,
                              218, 436, 535, 444, 459, 224697, 224695, 224696, 224746,
                              224747, 221, 1, 1211, 1655, 2000, 226873, 224738, 224419,
                              224750, 227187, 543, 5865, 5866, 224707, 224709, 224705,
                              224706, 60, 437, 505, 506, 686, 220339, 224700, 3459,
                              501, 502, 503, 224702, 223, 667, 668, 669, 670, 671, 672,
                              224701)
           THEN 1 ELSE 0 END) AS MechVent,
  MAX(CASE WHEN ce.itemid = 226732 AND ce.value IN
           ('Nasal cannula', 'Face tent', 'Aerosol-cool', 'Trach mask',
            'High flow neb', 'Non-rebreather', 'Venti mask', 'Medium conc mask',
            'T-piece', 'High flow nasal cannula', 'Ultrasonic neb', 'Vapomist')
           THEN 1
           WHEN ce.itemid = 467 AND ce.value IN
           ('Cannula', 'Nasal Cannula', 'None', 'Face Tent', 'Aerosol-Cool',
            'Trach Mask', 'Hi Flow Neb', 'Non-Rebreather', 'Venti Mask',
            'Medium Conc Mask', 'Vapotherm', 'T-Piece', 'Hood', 'Hut',
            'TranstrachealCat', 'Heated Neb', 'Ultrasonic Neb')
           THEN 1 ELSE 0 END) AS OxygenTherapy,
  MAX(CASE WHEN ce.itemid IS NULL OR ce.value IS NULL THEN 0
           WHEN ce.itemid = 640 AND ce.value IN ('Extubated', 'Self Extubation') THEN 1
           ELSE 0 END) AS Extubated,
  MAX(CASE WHEN ce.itemid IS NULL OR ce.value IS NULL THEN 0
           WHEN ce.itemid = 640 AND ce.value = 'Self Extubation' THEN 1
           ELSE 0 END) AS SelfExtubated
FROM dur_mv ce
JOIN target tp ON ce.stay_id = tp.stay_id
WHERE ce.value IS NOT NULL
  AND ce.warning IS DISTINCT FROM 1
  AND ce.itemid IN (720, 223849, 223848, 445, 448, 449, 450, 1340, 1486,
                    1600, 224687, 639, 654, 681, 682, 683, 684, 224685,
                    224684, 224686, 218, 436, 535, 444, 224697, 224695,
                    224696, 224746, 224747, 221, 1, 1211, 1655, 2000,
                    226873, 224738, 224419, 224750, 227187, 543, 5865,
                    5866, 224707, 224709, 224705, 224706, 60, 437, 505,
                    506, 686, 220339, 224700, 3459, 501, 502, 503,
                    224702, 223, 667, 668, 669, 670, 671, 672, 224701,
                    640, 468, 469, 470, 471, 227287, 226732, 223834, 467)
GROUP BY ce.stay_id, ce.charttime
UNION
SELECT
  pe.stay_id, pe.starttime AS charttime,
  0 AS MechVent, 0 AS OxygenTherapy,
  1 AS Extubated, CASE WHEN pe.itemid = 225468 THEN 1 ELSE 0 END AS SelfExtubated
FROM procedureevents_mv pe
JOIN target tp ON pe.stay_id = tp.stay_id
WHERE pe.itemid IN (227194, 225468, 225477);
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [99]:
new_target.drop_duplicates(subset='stay_id')

,stay_id,charttime,MechVent,OxygenTherapy,Extubated,SelfExtubated
0,30000213,2162-06-21 05:00:00,1,0,0,0
17,30004391,2153-09-05 13:25:00,1,0,0,0
65,30007565,2141-07-09 01:00:00,1,0,0,0
224,30007983,2176-07-24 04:00:00,1,0,0,0
238,30009597,2175-09-30 22:00:00,1,0,0,0
...,...,...,...,...,...,...
262016,39991569,2179-04-10 17:22:00,1,0,0,0
262032,39992578,2187-09-14 21:00:00,1,0,0,0
262054,39995735,2124-08-15 18:00:00,1,0,0,0
262120,39996123,2134-07-22 02:47:00,0,1,0,0
262146,39998622,2135-02-11 18:15:00,1,0,0,0

In [115]:
new_target.drop_duplicates(subset='stay_id')
not_in_new_target = target[~target['stay_id'].isin(new_target['stay_id'].unique())]
list_not_in_nt = not_in_new_target['stay_id'].tolist()
len(not_in_new_target.drop_duplicates(subset='stay_id'))

43

In [117]:
missing_in_dur_mv = dur_mv[dur_mv['stay_id'].isin(list_not_in_nt)]
len(missing_in_dur_mv.drop_duplicates(subset='stay_id'))

35

-> 8 stay_id don't have information in dur_mv (so why tf they are in this list)

In [106]:
in_dur_mv[~in_dur_mv['value'].isna()]

,subject_id,hadm_id,stay_id,caregiver_id,charttime,storetime,itemid,value,valuenum,valueuom,warning
3654087,14525616,26794444,38487968,70829.0,2175-08-24 01:00:00,2175-08-24 01:08:00,223834,15,15.0,L/min,1.0
3654088,14525616,26794444,38487968,70829.0,2175-08-24 01:00:00,2175-08-24 01:08:00,226732,Bipap mask,NaN,NaN,1.0
5293240,16442703,26707548,34725385,8388.0,2145-10-22 00:00:00,2145-10-22 00:43:00,223834,2,2.0,L/min,1.0
5293241,16442703,26707548,34725385,8388.0,2145-10-22 00:00:00,2145-10-22 00:43:00,226732,Nasal cannula,NaN,NaN,1.0

-> 43 stay_id values have a NULL value or a warning of 1.0, so they are eliminated

In [47]:
ventdurations_query = """
WITH vd0 AS
(
  SELECT
    vs.stay_id,
    CASE WHEN vs.MechVent = 1 THEN LAG(vs.charttime, 1) OVER (PARTITION BY vs.stay_id ORDER BY vs.charttime)
    ELSE NULL END AS charttime_lag,
    vs.charttime, vs.MechVent, vs.OxygenTherapy, vs.Extubated, vs.SelfExtubated
  FROM ventsettings vs
  JOIN target tp ON vs.stay_id = tp.stay_id
),
vd1 AS
(
  SELECT
    vd0.stay_id, vd0.charttime_lag, vd0.charttime, vd0.MechVent,
    vd0.OxygenTherapy, vd0.Extubated, vd0.SelfExtubated,
    CASE WHEN vd0.MechVent = 1 THEN vd0.charttime - vd0.charttime_lag ELSE NULL END AS ventduration,
    LAG(vd0.Extubated, 1) OVER (PARTITION BY vd0.stay_id, 
      CASE WHEN vd0.MechVent = 1 OR vd0.Extubated = 1 THEN 1 ELSE 0 END 
      ORDER BY vd0.charttime) AS ExtubatedLag,
    CASE
      WHEN LAG(vd0.Extubated, 1) OVER (PARTITION BY vd0.stay_id, 
          CASE WHEN vd0.MechVent = 1 OR vd0.Extubated = 1 THEN 1 ELSE 0 END 
          ORDER BY vd0.charttime) = 1 THEN 1
      WHEN vd0.MechVent = 0 AND vd0.OxygenTherapy = 1 THEN 1
      WHEN (vd0.charttime - vd0.charttime_lag) > 8 * 3600 THEN 1
      ELSE 0 END AS newvent
  FROM vd0
),
vd2 AS
(
  SELECT vd1.*, 
    CASE 
      WHEN vd1.MechVent = 1 OR vd1.Extubated = 1 THEN 
        SUM(vd1.newvent) OVER (PARTITION BY vd1.stay_id ORDER BY vd1.charttime) 
      ELSE NULL 
    END AS ventnum
  FROM vd1
)
SELECT vd2.stay_id, DATE(vd2.charttime) AS charttime_day,
  ROW_NUMBER() OVER (PARTITION BY vd2.stay_id ORDER BY vd2.ventnum) AS ventnum,
  MIN(vd2.charttime) AS starttime, MAX(vd2.charttime) AS endtime,
  (strftime('%s', MAX(vd2.charttime)) - strftime('%s', MIN(vd2.charttime))) / 60.0 AS duration_minutes,
  vd2.MechVent, vd2.OxygenTherapy, vd2.Extubated, vd2.SelfExtubated
FROM vd2
JOIN target tp ON vd2.stay_id = tp.stay_id
WHERE vd2.ventnum IS NOT NULL
  AND vd2.MechVent = 1
GROUP BY vd2.stay_id, ventnum, vd2.MechVent, vd2.OxygenTherapy, vd2.Extubated, vd2.SelfExtubated;
"""

In [50]:
def add_ventdurations(new_target, target, dur_mv, procedureevents_mv):
    return psql.sqldf(ventdurations_query, locals())

In [51]:
new_new_target = add_ventdurations(new_target, target, dur_mv, procedureevents_mv)

In [123]:
new_new_target.drop_duplicates(subset='stay_id')

,stay_id,charttime_day,ventnum,starttime,endtime,duration_minutes,MechVent,OxygenTherapy,Extubated,SelfExtubated
0,30000213,2162-06-22,1,2162-06-21 05:00:00,2162-06-22 07:00:00,1560.0,1,0,0,0
1,30004391,2153-09-07,1,2153-09-05 13:25:00,2153-09-07 12:00:00,2795.0,1,0,0,0
3,30007565,2141-07-15,1,2141-07-09 01:00:00,2141-07-15 08:00:00,9060.0,1,0,0,0
6,30007983,2176-07-24,1,2176-07-24 04:00:00,2176-07-24 21:00:00,1020.0,1,0,0,0
7,30009597,2175-10-01,1,2175-09-30 22:00:00,2175-10-01 11:00:00,780.0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
6368,39991569,2179-04-11,1,2179-04-10 17:22:00,2179-04-11 16:00:00,1358.0,1,0,0,0
6369,39992578,2187-09-16,1,2187-09-14 21:00:00,2187-09-16 12:00:00,2340.0,1,0,0,0
6370,39995735,2124-08-21,1,2124-08-15 18:00:00,2124-08-21 06:00:00,7920.0,1,0,0,0
6372,39996123,2134-07-22,1,2134-07-22 12:05:00,2134-07-22 20:00:00,475.0,1,0,0,0
6373,39998622,2135-02-19,1,2135-02-11 18:15:00,2135-02-19 07:00:00,10845.0,1,0,0,0

In [68]:
list_dont_have_dur = target[~target['stay_id'].isin(new_new_target['stay_id'])]
list_dont_have_dur

,subject_id,hadm_id,stay_id,intime,outtime,los,age_at_admission,gender,race,height,weight_admit,weight_first_day,bmi,gcs_motor,gcs_verbal,gcs_eyes,gcs_total
30,10048899,20315647,30644814,2165-10-20 19:30:00.000000,2165-10-22 16:23:10,1.870255,91,F,WHITE,NaN,64.836828,NaN,NaN,6.0,4.0,4.0,14.0
36,10076263,25634900,31003445,2196-05-29 05:59:00.000000,2196-05-31 18:15:50,2.511690,50,F,BLACK/AFRICAN AMERICAN,1.63,52.390456,NaN,19.72,6.0,5.0,4.0,15.0
48,10098215,20652197,36567846,2118-08-14 22:06:03.000000,2118-08-16 21:57:17,1.993912,57,F,WHITE,1.56,51.850390,51.9,21.31,6.0,5.0,4.0,15.0
68,10132611,28996766,31179345,2168-02-22 05:05:00.000000,2168-02-24 16:36:01,2.479873,74,M,WHITE,1.78,86.300000,NaN,27.24,6.0,5.0,4.0,15.0
69,10132888,21293774,34165381,2127-09-24 03:47:00.000000,2127-09-24 22:38:33,0.785799,89,M,ASIAN,NaN,65.862288,66.0,NaN,5.0,4.0,3.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4746,19952398,24995993,32679065,2127-04-09 19:08:03.000000,2127-04-17 20:46:19,8.068241,70,M,WHITE,1.78,50.873628,NaN,16.06,6.0,5.0,4.0,15.0
4762,19978239,21674747,38949980,2120-12-02 18:56:20.000000,2120-12-06 21:11:51,4.094109,82,F,WHITE,NaN,101.000000,101.0,31.40,6.0,5.0,4.0,15.0
4765,19983257,21141313,37843321,2166-01-09 15:19:16.000000,2166-01-15 21:27:49,6.255937,64,M,WHITE,1.65,140.000000,NaN,51.42,6.0,5.0,4.0,15.0
4775,19997293,26366652,36403582,2123-11-17 05:47:01.000000,2123-11-19 17:08:30,2.473252,76,M,WHITE,1.82,172.756341,NaN,52.15,6.0,4.0,4.0,14.0
4776,19998330,23151993,31085771,2178-09-20 21:40:00.000000,2178-09-21 18:06:26,0.851690,72,F,BLACK/AFRICAN AMERICAN,NaN,76.205960,NaN,24.70,6.0,5.0,4.0,15.0

In [65]:
test_list = list_dont_have_dur['stay_id'].tolist()
test_list

[30644814,
 31003445,
 36567846,
 31179345,
 34165381,
 36538238,
 32831963,
 30337986,
 37496349,
 35474807,
 37580514,
 38065034,
 39171509,
 37931604,
 35031000,
 34436779,
 35269020,
 30800478,
 31012664,
 37537235,
 32068207,
 30770361,
 32165451,
 33215882,
 34135108,
 38154150,
 39267426,
 32652263,
 32815100,
 34206944,
 39431744,
 38046850,
 33345883,
 32428867,
 31698532,
 30649699,
 30382119,
 34662305,
 35001991,
 36301525,
 37741300,
 33155340,
 33652366,
 34577954,
 33840497,
 31865868,
 33279342,
 39079041,
 32642728,
 30713595,
 31951080,
 34033580,
 36088280,
 34673429,
 34300466,
 35810878,
 31681305,
 37079354,
 35352693,
 37792645,
 31597960,
 34439141,
 35895937,
 32640656,
 38528141,
 30978046,
 37530970,
 39699085,
 32367149,
 39158918,
 33891173,
 33039123,
 36282564,
 36453823,
 33577025,
 32721770,
 37854016,
 39983771,
 30011071,
 32969864,
 34633573,
 39945335,
 37883545,
 31707457,
 31141250,
 30077305,
 39220558,
 30513900,
 38294786,
 38845095,
 37667136,
 30085094,
 30843273,
 35093109,
 35965699,
 33794813,
 36206110,
 30995791,
 30960288,
 35620934,
 30128862,
 31779756,
 37541173,
 38762144,
 39669500,
 33543783,
 30080467,
 33609340,
 32565183,
 30901967,
 38091853,
 34048298,
 35055267,
 39569158,
 35020697,
 32898103,
 39944085,
 34339688,
 31108914,
 31759354,
 33400416,
 32606321,
 34425810,
 37800727,
 38189753,
 39908986,
 39155128,
 33903399,
 38461357,
 38367302,
 30767472,
 39768937,
 33990872,
 39171010,
 35257339,
 35456871,
 32164699,
 35129270,
 31360784,
 33674311,
 35742916,
 31589887,
 36164523,
 36041313,
 31817350,
 32681101,
 37739485,
 39271276,
 35569430,
 37541443,
 31468857,
 33865122,
 35121184,
 30474746,
 33368782,
 36674982,
 30891404,
 35107224,
 31473306,
 31496939,
 37227670,
 36150696,
 32851030,
 37173223,
 36415941,
 31126313,
 31060028,
 31699043,
 39402549,
 39695175,
 35465784,
 33864717,
 39195879,
 33846052,
 35617713,
 36552759,
 37296549,
 33521782,
 32186772,
 31213487,
 34618762,
 31747711,
 30085418,
 31270386,
 37637224,
 35046842,
 36129382,
 38487968,
 31351533,
 32658055,
 35070960,
 31996995,
 30903936,
 31276114,
 37934000,
 37691695,
 36669027,
 32179784,
 35557106,
 35789376,
 37790425,
 34692680,
 30371335,
 36079106,
 37539270,
 33868730,
 32176652,
 38166910,
 39102855,
 37058165,
 35964351,
 36513004,
 39115013,
 37527798,
 37750953,
 31518998,
 31413536,
 38070295,
 37400362,
 30860458,
 32105579,
 39277178,
 33354463,
 37931352,
 33599527,
 34015260,
 37165438,
 31541538,
 31102228,
 34136553,
 34568854,
 30928403,
 36144060,
 36569119,
 38318204,
 35738415,
 39583388,
 36248899,
 36546860,
 34583223,
 31022391,
 34786559,
 31105919,
 31533526,
 35270182,
 32537723,
 39831164,
 39173721,
 32871227,
 36416434,
 31559515,
 32496356,
 32443930,
 30781086,
 32237681,
 31728477,
 31958232,
 32965814,
 35561820,
 30022363,
 33057305,
 37151339,
 34124491,
 39584665,
 31123437,
 36088295,
 38511945,
 36852397,
 31509665,
 30490791,
 37679299,
 31078595,
 34574025,
 35150856,
 37534669,
 33131667,
 38372872,
 38983732,
 39011854,
 37152455,
 37001817,
 34725385,
 33983511,
 30200220,
 37317679,
 31932490,
 30834519,
 34295324,
 39502671,
 35223573,
 32066323,
 35426650,
 38402352,
 35665413,
 30665595,
 33071091,
 36920573,
 39580492,
 34371221,
 37974474,
 30982591,
 33002509,
 31779700,
 31965951,
 32145880,
 30860132,
 37185043,
 32730921,
 38472226,
 32723291,
 33147651,
 35014443,
 35929639,
 30330648,
 30457356,
 31101078,
 31575047,
 31055465,
 36749314,
 30757265,
 32678026,
 33544240,
 32600345,
 33434663,
 31070525,
 36408890,
 31544321,
 37630243,
 31740198,
 38194077,
 35010680,
 37654008,
 32882655,
 33639495,
 30085831,
 39534522,
 33429186,
 34979969,
 33803449,
 37963298,
 38369056,
 34124190,
 30803697,
 33528447,
 35913928,
 30841936,
 38624763,
 36061399,
 31506703,
 30615658,
 37092765,
 38413841,
 32809584,
 34191089,
 31506424,
 32167717,
 33832779,
 35301379,
 38778520,
 33257880,
 34606971,
 39810998,
 35104742,
 35959004,
 36182174,
 30123604,
 33273186,
 38601037,
 32483321,
 32260772,
 34672925,
 33203958,
 33337075,
 31785267,
 35550891,
 34774046,
 39088982,
 34079004,
 36952958,
 30264363,
 30234591,
 37831317,
 31248791,
 30700511,
 31801380,
 35663024,
 34783798,
 38227916,
 37687976,
 31694990,
 34567568,
 39716439,
 33880416,
 36819111,
 37192412,
 37773082,
 37573845,
 35148471,
 36415632,
 34567413,
 34823722,
 39223303,
 36862984,
 35406938,
 31392792,
 35063860,
 32653893,
 37328030,
 34215250,
 33800175,
 38025132,
 31077974,
 32176101,
 36515454,
 33734334,
 36028616,
 35565448,
 31261498,
 34133321,
 36537076,
 30545568,
 35548512,
 39405361,
 32679065,
 38949980,
 37843321,
 36403582,
 31085771]

In [66]:
list_patient_not_have_duration = []
for i in test_list:
    test = dur_mv[dur_mv['stay_id'] == i]
    list_patient_not_have_duration.append(test)

list_patients_not_have_duration = pd.concat(list_patient_not_have_duration, axis=0)

In [67]:
list_patients_not_have_duration

,subject_id,hadm_id,stay_id,caregiver_id,charttime,storetime,itemid,value,valuenum,valueuom,warning
43662,10048899,20315647,30644814,18428.0,2165-10-21 08:00:00,2165-10-21 07:57:00,223834,3,3.0,L/min,0.0
43663,10048899,20315647,30644814,18428.0,2165-10-21 08:00:00,2165-10-21 07:57:00,226732,Nasal cannula,NaN,NaN,0.0
43664,10048899,20315647,30644814,18428.0,2165-10-21 11:00:00,2165-10-21 11:09:00,226732,Nasal cannula,NaN,NaN,0.0
43665,10048899,20315647,30644814,18428.0,2165-10-21 11:00:00,2165-10-21 11:10:00,223834,2,2.0,L/min,1.0
43666,10048899,20315647,30644814,18428.0,2165-10-21 12:00:00,2165-10-21 15:54:00,226732,Nasal cannula,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...
8159235,19998330,23151993,31085771,68320.0,2178-09-21 12:00:00,2178-09-21 14:23:00,226732,Nasal cannula,NaN,NaN,0.0
8159236,19998330,23151993,31085771,68320.0,2178-09-21 16:00:00,2178-09-21 16:11:00,223834,3,3.0,L/min,0.0
8159237,19998330,23151993,31085771,68320.0,2178-09-21 16:00:00,2178-09-21 16:11:00,226732,Nasal cannula,NaN,NaN,0.0
8159238,19998330,23151993,31085771,72599.0,2178-09-21 04:00:00,2178-09-21 04:07:00,223834,8,8.0,L/min,0.0
8159239,19998330,23151993,31085771,72599.0,2178-09-21 04:00:00,2178-09-21 04:07:00,226732,Bipap mask,NaN,NaN,0.0

In [7]:
height_df = pd.read_csv('/media/data/huyennm/mimic-iv/mimic-derived/height.csv')
weight_df = pd.read_csv('/media/data/huyennm/mimic-iv/mimic-derived/weight.csv')

/tmp/ipykernel_1239107/167791002.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  weight_df = pd.read_csv('/media/data/huyennm/mimic-iv/mimic-derived/weight.csv')

In [14]:
demo = pd.read_csv('/media/data/huyennm/mimic-iv/notebook/demographics/eligible_patients_with_demographics_gcs.csv')

In [17]:
demo.drop_duplicates(subset='subject_id')

,subject_id,hadm_id,stay_id,charttime,vent,age_at_admission,gender,race,height,weight_admit,weight_first_day,bmi,gcs_motor,gcs_verbal,gcs_eyes,gcs_total
0,10000690,25860671,37081114,2150-11-02 19:40:00,1,86,F,WHITE,NaN,55.185919,NaN,23.00,6.0,5.0,4.0,15.0
1,10000980,26913865,39765666,2189-06-27 09:00:00,1,76,F,BLACK/AFRICAN AMERICAN,NaN,57.061431,NaN,30.60,6.0,5.0,4.0,15.0
2,10001843,26133978,39698942,2134-12-05 19:00:00,1,76,M,WHITE,NaN,76.728949,NaN,30.60,6.0,4.0,3.0,13.0
3,10002013,23581541,39060235,2160-05-18 14:00:00,1,57,F,OTHER,1.57,95.899846,104.1,38.91,1.0,1.0,1.0,3.0
4,10002155,28994087,31090461,2130-09-24 01:00:00,1,82,F,WHITE,NaN,47.933231,NaN,20.30,6.0,5.0,4.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25769,19997473,27787494,32134105,2173-09-17 15:42:00,1,82,F,WHITE,1.57,62.959267,65.5,25.54,6.0,5.0,4.0,15.0
25771,19997752,29452285,34531437,2128-03-02 13:00:00,1,66,F,WHITE,1.70,83.884544,87.8,29.03,1.0,1.0,1.0,3.0
25772,19997760,25252564,33057362,2190-09-09 23:00:00,1,53,M,BLACK/AFRICAN AMERICAN,1.85,125.000000,133.5,36.52,4.0,1.0,2.0,7.0
25775,19998330,23151993,31085771,2178-09-20 21:00:00,1,72,F,BLACK/AFRICAN AMERICAN,NaN,76.205960,NaN,24.70,6.0,5.0,4.0,15.0
25780,19998591,24349193,31144045,2185-07-16 18:58:00,1,53,F,WHITE,1.57,65.800000,NaN,26.69,5.0,4.0,3.0,12.0