In [23]:
import pandas as pd
from config.config_param import final_data_path

In [24]:
df = pd.read_csv(final_data_path)
df.columns

Index(['Unnamed: 0', 'subject_id', 'hadm_id', 'stay_id', 'intime', 'outtime',
       'starttime', 'vent', 'age_at_admission', 'target', 'gender', 'race',
       'bmi', 'gcs', 'gcs_unable', 'mv_duration', 'temperature', 'heart_rate',
       'map_dias', 'map_sys', 'respiratory_rate', 'urine_output', 'pao2',
       'pco2', 'spo2', 'pao2fio2ratio', 'totalco2', 'aniongap', 'bicarbonate',
       'baseexcess', 'ph', 'wbc', 'rbc', 'platelets', 'hemoglobin',
       'hematocrit', 'creatinine', 'bun', 'alt', 'ast', 'lactate', 'glucose',
       'sodium', 'potassium', 'calcium', 'magnesium', 'chloride', 'ck',
       'ck_mb', 'ntprobnp', 'troponin_t', 'inr', 'pt', 'sepsis', 'anemia',
       'ami', 'ventricular_arrhythmia', 'diabetes', 'valvular_disease', 'ckd',
       'pneumonia', 'copd', 'atrial_fibrillation', 'aki', 'angina_pectoris',
       'liver_cirrhosis', 'pleural_effusion', 'omi', 'hypertension',
       'hepatitis', 'stroke', 'pe'],
      dtype='object')

In [25]:
df.shape[0]

7869

In [26]:
#threshold: at least 30% features
threshold = int(0.3 * df.shape[1])
df2 = df.dropna(thresh=df.shape[1] - threshold)

In [27]:
df2.shape[0]

7845

In [28]:
df2.drop_duplicates(subset='subject_id')

,Unnamed: 0,subject_id,hadm_id,stay_id,intime,outtime,starttime,vent,age_at_admission,target,...,atrial_fibrillation,aki,angina_pectoris,liver_cirrhosis,pleural_effusion,omi,hypertension,hepatitis,stroke,pe
0,0,13180007,27543152,30000213,2162-06-21 05:38:00,2162-06-22 20:52:48,2162-06-21 05:00:00,1,66,0,...,0,1,0,0,0,0,1,0,0,0
1,2,14311522,24622512,30002548,2111-08-17 13:13:43,2111-08-18 18:50:31,2111-08-17 17:00:00,1,70,0,...,0,0,0,0,0,0,1,0,0,0
2,3,18730522,21463350,30004391,2153-09-05 13:12:00,2153-09-13 18:21:18,2153-09-05 13:25:00,1,89,0,...,1,1,0,0,0,0,0,0,0,0
3,4,12509799,25897223,30004530,2165-07-31 09:40:35,2165-08-03 16:29:09,2165-07-31 13:00:00,1,63,0,...,0,0,0,0,0,1,1,0,0,0
4,5,17244693,20215424,30004811,2139-10-06 10:40:29,2139-10-08 15:56:05,2139-10-06 19:00:00,1,66,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7861,10202,12719159,23682873,39989733,2120-09-06 13:41:46,2120-09-10 15:00:21,2120-09-06 14:35:00,1,80,0,...,0,0,0,0,0,1,1,0,0,0
7864,10205,12275003,22562812,39992247,2182-08-15 09:37:33,2182-08-16 17:25:44,2182-08-15 12:00:00,1,72,0,...,1,0,0,0,0,0,0,0,0,0
7865,10206,19774838,28109956,39992578,2187-09-14 17:39:09,2187-09-16 19:17:27,2187-09-14 21:00:00,1,69,1,...,0,0,0,1,0,1,0,0,0,0
7867,10209,12616907,21185436,39996123,2134-07-22 01:52:00,2134-07-25 15:44:52,2134-07-22 12:05:00,1,91,0,...,1,0,0,0,0,0,0,0,0,0
7868,10210,19046950,24352151,39998622,2135-02-11 18:13:55,2135-02-20 17:53:16,2135-02-11 18:15:00,1,67,0,...,0,0,0,0,0,0,1,0,0,1

In [29]:
df2.columns

Index(['Unnamed: 0', 'subject_id', 'hadm_id', 'stay_id', 'intime', 'outtime',
       'starttime', 'vent', 'age_at_admission', 'target', 'gender', 'race',
       'bmi', 'gcs', 'gcs_unable', 'mv_duration', 'temperature', 'heart_rate',
       'map_dias', 'map_sys', 'respiratory_rate', 'urine_output', 'pao2',
       'pco2', 'spo2', 'pao2fio2ratio', 'totalco2', 'aniongap', 'bicarbonate',
       'baseexcess', 'ph', 'wbc', 'rbc', 'platelets', 'hemoglobin',
       'hematocrit', 'creatinine', 'bun', 'alt', 'ast', 'lactate', 'glucose',
       'sodium', 'potassium', 'calcium', 'magnesium', 'chloride', 'ck',
       'ck_mb', 'ntprobnp', 'troponin_t', 'inr', 'pt', 'sepsis', 'anemia',
       'ami', 'ventricular_arrhythmia', 'diabetes', 'valvular_disease', 'ckd',
       'pneumonia', 'copd', 'atrial_fibrillation', 'aki', 'angina_pectoris',
       'liver_cirrhosis', 'pleural_effusion', 'omi', 'hypertension',
       'hepatitis', 'stroke', 'pe'],
      dtype='object')

In [30]:
#threshold2: at least 50% 
threshold = 0.5 * df.shape[0]
df3 = df2.dropna(axis=1, thresh=threshold)

In [31]:
df3.columns

Index(['Unnamed: 0', 'subject_id', 'hadm_id', 'stay_id', 'intime', 'outtime',
       'starttime', 'vent', 'age_at_admission', 'target', 'gender', 'race',
       'bmi', 'gcs', 'gcs_unable', 'mv_duration', 'temperature', 'heart_rate',
       'respiratory_rate', 'urine_output', 'pao2', 'pco2', 'spo2',
       'pao2fio2ratio', 'totalco2', 'baseexcess', 'ph', 'wbc', 'rbc',
       'platelets', 'hemoglobin', 'hematocrit', 'creatinine', 'bun', 'alt',
       'ast', 'glucose', 'sodium', 'potassium', 'calcium', 'magnesium',
       'chloride', 'inr', 'pt', 'sepsis', 'anemia', 'ami',
       'ventricular_arrhythmia', 'diabetes', 'valvular_disease', 'ckd',
       'pneumonia', 'copd', 'atrial_fibrillation', 'aki', 'angina_pectoris',
       'liver_cirrhosis', 'pleural_effusion', 'omi', 'hypertension',
       'hepatitis', 'stroke', 'pe'],
      dtype='object')

In [32]:
df3.shape[1]

63

In [33]:
missing_percentage = (df3.isna().sum() / len(df3)) * 100

missing_percentage.tolist()

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 12.887189292543022,
 0.14021669853409816,
 0.14021669853409816,
 0.0,
 11.293817718291905,
 0.0,
 0.012746972594008922,
 3.811344805608668,
 8.068833652007648,
 8.068833652007648,
 5.213511790949649,
 5.9528362014021665,
 2.179732313575526,
 2.179732313575526,
 2.179732313575526,
 0.07648183556405354,
 0.11472275334608031,
 0.11472275334608031,
 0.08922880815806246,
 0.07648183556405354,
 0.012746972594008922,
 0.012746972594008922,
 46.1440407903123,
 45.85086042065009,
 0.6755895474824729,
 0.12746972594008923,
 0.22944550669216063,
 11.536010197578076,
 4.38495857233907,
 0.08922880815806246,
 3.5309114085404714,
 3.5309114085404714,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0]

In [38]:
non_survival = df3[df3['target'] == 1]
non_survival.to_csv('non_survival_patients.csv')
survival = df3[df3['target'] == 0]
survival.to_csv('survival_patients.csv')

In [40]:
print(f"Non survival icustay: {len(non_survival)}")
print(f"Survival icustay: {len(survival)}")

Non survival icustay: 1557
Survival icustay: 6288

In [41]:
print(f"Non survival patients: {len(non_survival.drop_duplicates(subset='subject_id'))}")
print(f"Survival patients: {len(survival.drop_duplicates(subset='subject_id'))}")

Non survival patients: 1450
Survival patients: 5253