In [1]:
import pandas as pd
import pandasql as psql

In [5]:
file_event_path = '/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/icu/d_items.csv'

chunksize = 10**6
chunk_list = []

for chunk in pd.read_csv(file_event_path, chunksize=chunksize):
    chunk_list.append(chunk)
event_df = pd.concat(chunk_list, axis=0)
event_df

,itemid,label,abbreviation,linksto,category,unitname,param_type,lownormalvalue,highnormalvalue
0,220001,Problem List,Problem List,chartevents,General,NaN,Text,NaN,NaN
1,220003,ICU Admission date,ICU Admission date,datetimeevents,ADT,NaN,Date and time,NaN,NaN
2,220045,Heart Rate,HR,chartevents,Routine Vital Signs,bpm,Numeric,NaN,NaN
3,220046,Heart rate Alarm - High,HR Alarm - High,chartevents,Alarms,bpm,Numeric,NaN,NaN
4,220047,Heart Rate Alarm - Low,HR Alarm - Low,chartevents,Alarms,bpm,Numeric,NaN,NaN
...,...,...,...,...,...,...,...,...,...
4009,230077,Documented on DC Summary (PICC),Documented on DC Summary (PICC),chartevents,PICC Line Insertion,NaN,Text,NaN,NaN
4010,230078,Documented on DC Summary (Thora),Documented on DC Summary (Thora),chartevents,Thoracentesis,NaN,Text,NaN,NaN
4011,230083,Replacement Fluid (Pre-Filter),Replacement Fluid (Pre-Filter),chartevents,Dialysis,NaN,Text,NaN,NaN
4012,230084,Replacement Fluid (Post-Filter),Replacement Fluid (Post-Filter),chartevents,Dialysis,NaN,Text,NaN,NaN
4013,230085,Dialysate Fluid,Dialysate Fluid,chartevents,Dialysis,NaN,Text,NaN,NaN

In [24]:
df = event_df[event_df['label'].str.contains('gcs', case=False)]
df

,itemid,label,abbreviation,linksto,category,unitname,param_type,lownormalvalue,highnormalvalue
159,220739,GCS - Eye Opening,Eye Opening,chartevents,Neurological,NaN,Text,NaN,NaN
407,223900,GCS - Verbal Response,Verbal Response,chartevents,Neurological,NaN,Text,NaN,NaN
408,223901,GCS - Motor Response,Motor Response,chartevents,Neurological,NaN,Text,NaN,NaN
1965,226755,GcsApacheIIScore,GcsApacheIIScore,chartevents,Scores - APACHE II,NaN,Numeric,NaN,NaN
1966,226756,GCSEyeApacheIIValue,GCSEyeApacheIIValue,chartevents,Scores - APACHE II,NaN,Text,NaN,NaN
1967,226757,GCSMotorApacheIIValue,GCSMotorApacheIIValue,chartevents,Scores - APACHE II,NaN,Text,NaN,NaN
1968,226758,GCSVerbalApacheIIValue,GCSVerbalApacheIIValue,chartevents,Scores - APACHE II,NaN,Text,NaN,NaN
2054,227011,GCSEye_ApacheIV,GCSEye_ApacheIV,chartevents,Scores - APACHE IV (2),NaN,Text,NaN,NaN
2055,227012,GCSMotor_ApacheIV,GCSMotor_ApacheIV,chartevents,Scores - APACHE IV (2),NaN,Text,NaN,NaN
2056,227013,GcsScore_ApacheIV,GcsScore_ApacheIV,chartevents,Scores - APACHE IV (2),NaN,Numeric,NaN,NaN
2057,227014,GCSVerbal_ApacheIV,GCSVerbal_ApacheIV,chartevents,Scores - APACHE IV (2),NaN,Text,NaN,NaN
2660,228112,GCSVerbalApacheIIValue (intubated),GCSVerbalApacheIIValue (intubated),chartevents,Scores - APACHE II,NaN,Text,NaN,NaN

In [18]:
item_ids = df['itemid'].unique()
item_ids = ([220739, 223900, 223901])
item_ids

[220739, 223900, 223901]

height

In [2]:
chartevents_path = '/media/data3/biodataset/MIMIC_IV/MIMIC-IV-v2.2/physionet.org/files/mimiciv/2.2/icu/chartevents.csv'
chartevents_df = pd.read_csv(chartevents_path, chunksize=10**6)
filtered_chartevents_list = []

for chunk in chartevents_df:
    filtered_chunk = chunk[chunk['stay_id'] == 38848838] 
    filtered_chartevents_list.append(filtered_chunk)
    
filtered_chartevents_df = pd.concat(filtered_chartevents_list, axis=0)
filtered_chartevents_df

,subject_id,hadm_id,stay_id,caregiver_id,charttime,storetime,itemid,value,valuenum,valueuom,warning
15289932,10509305,27629385,38848838,47023.0,2171-04-09 10:53:00,2171-04-09 11:00:00,225059,Diabetes - Oral Agent,NaN,NaN,0.0
15289933,10509305,27629385,38848838,47023.0,2171-04-09 10:53:00,2171-04-09 11:00:00,225811,CHF,NaN,NaN,0.0
15289934,10509305,27629385,38848838,47023.0,2171-04-09 10:53:00,2171-04-09 11:00:00,225811,MI,NaN,NaN,0.0
15289935,10509305,27629385,38848838,47023.0,2171-04-09 10:53:00,2171-04-09 11:00:00,225811,PVD,NaN,NaN,0.0
15289936,10509305,27629385,38848838,47023.0,2171-04-09 12:00:00,2171-04-09 12:25:00,225059,Diabetes - Oral Agent,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...
15290078,10509305,27629385,38848838,NaN,2171-04-09 13:12:00,2171-04-09 13:16:00,225668,10.3,10.3,mmol/L,1.0
15290079,10509305,27629385,38848838,NaN,2171-04-09 13:12:00,2171-04-09 13:16:00,225698,10,10.0,mEq/L,1.0
15290080,10509305,27629385,38848838,NaN,2171-04-09 13:12:00,2171-04-09 13:16:00,226534,134,134.0,mEq/L,1.0
15290081,10509305,27629385,38848838,NaN,2171-04-09 13:12:00,2171-04-09 13:16:00,226537,348,348.0,mg/dL,1.0
15290082,10509305,27629385,38848838,NaN,2171-04-09 13:12:00,2171-04-09 13:16:00,227464,4.4,4.4,mEq/L,0.0

In [5]:
filtered_chartevents_df[filtered_chartevents_df['itemid'] == 220739]

Empty DataFrame
Columns: [subject_id, hadm_id, stay_id, caregiver_id, charttime, storetime, itemid, value, valuenum, valueuom, warning]
Index: []

In [5]:
filtered_chartevents_df[filtered_chartevents_df['itemid'] == 226707]

,subject_id,hadm_id,stay_id,caregiver_id,charttime,storetime,itemid,value,valuenum,valueuom,warning
40604,10002428,20321825,34807493,62692.0,2156-04-30 20:36:00,2156-05-02 16:37:00,226707,59,59.0,Inch,0.0
57042,10002428,28662225,33987268,8549.0,2156-04-12 16:24:00,2156-04-15 15:03:00,226707,59,59.0,Inch,0.0

In [23]:
test = pd.read_csv('/media/data/huyennm/mimic-iv/mimic-derived/gcs.csv')

array([220739, 223900, 223901, 226755, 226756, 226757, 226758, 227013])

In [10]:
filtered_chartevents_df.to_csv('/media/data/huyennm/mimic-iv/mimic-derived/height.csv', index=False)