In [1]:
import pandas as pd

In [2]:
bg_output = pd.read_csv('/media/data/huyennm/mimic-iv/mimiciv_data/bloodgas/bloodgas_results/bg_output.csv')
bg_output

,subject_id,stay_id,pao2_min,pao2_max,pco2_min,pco2_max,spo2_min,spo2_max,pao2fio2ratio_min,pao2fio2ratio_max,totalco2_min,totalco2_max,aniongap_min,aniongap_max,bicarbonate_min,bicarbonate_max,baseexcess_min,baseexcess_max,ph_min,ph_max
0,10000690,37081114,68.0,123.0,52.0,54.0,NaN,NaN,123.000000,123.000000,29.0,37.0,NaN,NaN,NaN,NaN,0.0,9.0,7.32,7.45
1,10000980,39765666,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10001843,39698942,NaN,NaN,NaN,NaN,92.0,96.0,83.333333,124.000000,21.0,31.0,NaN,NaN,NaN,NaN,-7.0,1.0,7.16,7.23
3,10002013,39060235,90.0,462.0,41.0,56.0,97.0,100.0,180.000000,332.000000,23.0,27.0,NaN,NaN,NaN,NaN,-4.0,0.0,7.27,7.40
4,10002155,31090461,69.0,69.0,37.0,37.0,93.0,93.0,74.193548,74.193548,22.0,22.0,NaN,NaN,NaN,NaN,-3.0,-3.0,7.37,7.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25777,19998330,32641669,59.0,280.0,56.0,107.0,90.0,97.0,147.500000,330.000000,39.0,46.0,NaN,NaN,NaN,NaN,10.0,12.0,7.22,7.44
25778,19998330,33428243,61.0,120.0,64.0,95.0,99.0,100.0,152.500000,300.000000,42.0,48.0,NaN,NaN,NaN,NaN,11.0,14.0,7.25,7.41
25779,19998330,38814014,60.0,62.0,70.0,81.0,91.0,91.0,NaN,NaN,40.0,43.0,NaN,NaN,NaN,NaN,8.0,10.0,7.24,7.35
25780,19998591,31144045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25781,19998591,36794489,NaN,NaN,NaN,NaN,98.0,100.0,NaN,NaN,27.0,29.0,NaN,NaN,NaN,NaN,-1.0,0.0,7.29,7.33

In [4]:
missing_percentage = (bg_output.isna().sum() / len(bg_output)) * 100
missing_percentage

subject_id             0.000000
stay_id                0.000000
pao2_min              42.258165
pao2_max              42.258165
pco2_min              42.273679
pco2_max              42.273679
spo2_min              32.514933
spo2_max              32.514933
pao2fio2ratio_min     51.179117
pao2fio2ratio_max     51.179117
totalco2_min          21.840819
totalco2_max          21.840819
aniongap_min         100.000000
aniongap_max         100.000000
bicarbonate_min       95.993329
bicarbonate_max       95.993329
baseexcess_min        21.840819
baseexcess_max        21.840819
ph_min                21.833062
ph_max                21.833062
dtype: float64